/** @format */

@import "../../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

$fontFamilyRegular: "Inter", sans-serif !important;
$textareas: 8;
$autoCompletes: 4;

//font style mixin
@mixin fontStyles($weight, $size) {
	font-family: $fontFamilyRegular;
	font-weight: #{$weight} !important;
	font-size: #{$size}px !important;
}

//autocomplete mixin
@mixin autoCompleteStyles() {
	@for $i from 1 through $autoCompletes {
		#select-autocomplete-#{$i},
		.select-autocomplete-wrapper {
			width: 93% !important;
			height: 40px;
			//height: auto !important;
			position: relative;
			margin-bottom: 16px;
			fieldset {
				width: 100%;
				top: -5px !important;
				border: if($i==3, 0px, 1px) solid if($i==3, transparent, $light-grey);
				border-radius: 4px !important;
				background-color: $white !important;
				//height: 40px !important;
				height: auto !important;
			}

			.v-icon {
				&.mdi-menu-down {
					&::before {
						content: "" !important;
					}
					&::after {
						content: "" !important;
						display: inline-flex !important;
						background-image: if(
							$i==3,
							url("/assets/icons/chevron-down.svg"),
							url("/assets/icons/chevron-down-dark.svg")
						) !important;
						background-size: 18px 18px !important;
						background-repeat: no-repeat;
						height: 18px !important;
						width: 18px !important;
						top: -10px;
						left: -10px;
						opacity: 1;
						background-color: transparent !important;
						cursor: pointer !important;
					}
				}
			}

			.v-input {
				width: 100% !important;
				height: auto !important;
				//height: 40px;
				.v-input__control {
					height: 40px;
					.v-input__slot {
						.v-text-field__slot {
							input[type="text"] {
								@include fontStyles(400, 14);
								&::placeholder {
									@include fontStyles(600, 12);
								}
							}
						}
						.v-select__slot {
							.v-input__append-inner {
								height: 100% !important;
							}

							input[type="text"] {
								@include fontStyles(400, 14);

								&::placeholder {
									@include fontStyles(400, 14);
								}
							}
						}
					}
				}
			}
		}
	}

	#select-autocomplete-1 {
		.v-icon {
			&.mdi-menu-down {
				&::after {
					background-image: url("/assets/icons/chevron-down.svg") !important;
				}
			}
		}
		@include selectStyles();
		&.consignee-wrapper {
			.consignee-name {
				span {
					@include fontStyles(600, 14);
					color: $default-text-color;
				}
			}
			.consignee-address {
				span {
					@include fontStyles(400, 14);
					color: $dark-grey;
				}
			}

			.v-input {
				.v-input__control {
					.v-input__slot {
						fieldset {
							background: $divider-bg !important;
							border: 0px solid transparent !important;
						}
					}
				}
			}
		}

		.v-list-item {
			padding-top: 16px !important;
			padding-left: 16px !important;
			padding-bottom: 16px !important;
		}
	}
	#select-autocomplete-2,
	#select-autocomplete-4,
	.select-autocomplete-wrapper {
		width: auto !important;
		//width: 93% !important;
		height: 40px;
		//height: auto !important;
		margin-bottom: 16px;
		fieldset {
			width: 100%;
			top: -5px !important;
			border: 1px solid $light-grey !important;
			border-radius: 4px !important;
			height: 40px !important;
			//height: auto !important;
		}
		.v-icon {
			&.mdi-menu-down {
				&::before {
					content: "" !important;
				}
				&::after {
					content: "" !important;
					display: inline-flex !important;
					background-image: url("/assets/icons/chevron-down.svg") !important;
					background-size: 18px 18px !important;
					background-repeat: no-repeat;
					height: 18px !important;
					width: 18px !important;
					top: -10px;
					left: -10px;
					opacity: 1;
					background-color: transparent !important;
					cursor: pointer !important;
				}
			}
		}
		.v-input {
			width: 200px !important;
			//height: auto !important;
			height: 40px;
			.v-input__control {
				height: 40px;
				.v-input__slot {
					padding-left: 10px !important;
					padding-right: 4px !important;
					.v-select__slot {
						.v-input__append-inner {
							height: 100% !important;
						}
					}
				}
			}
		}
		//s
		/* po style menu items result*/
		.po-lists-items {
			width: 430px;
			overflow-y: scroll !important;
			padding-right: 0px !important;
			font-size: 12px;
			top: 35px !important;

			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background: #f1f1f1;
			}

			&::-webkit-scrollbar-thumb {
				background: #d3d3d3;
			}

			&::-webkit-scrollbar-thumb:hover {
				background: #d3d3d3;
			}
			.v-list {
				background-color: $white !important;
				padding-bottom: 0;
				.v-list-item {
					padding-top: 16px;
					.first-row {
						& > div {
							&:first-child {
								& > span {
									&:first-child {
										font-family: "Inter", sans-serif;
										font-weight: 400;
										font-size: 16px;
										color: $dark-blue;
									}
									&:last-child {
										font-family: "Inter", sans-serif;
										font-weight: 600;
										font-size: 16px;
										color: $dark-blue;
									}
								}
							}
							&:last-child {
								font-family: "Inter", sans-serif;
								font-weight: 400;
								font-size: 16px;
								line-height: 24px;
								color: $black;
							}
						}
					}

					.second-row {
						font-family: "Inter", sans-serif;
						font-weight: 500;
						font-size: 14px;
						color: $black;
					}
					.third-row {
						font-family: "Inter", sans-serif;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						padding-bottom: 12px;
						color: $dark-grey;
						display: block !important;
						width: 60%;
						word-break: break-word;
						/*white-space: nowrap;*/
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.fourth-row {
						& > div {
							&:first-child {
								& > span {
									font-family: "Inter", sans-serif;
									font-weight: 400;
									font-size: 14px;
									&:first-child {
										color: $dark-grey;
									}
									&:last-child {
										color: $black;
									}
								}
							}
							&:last-child {
								& > span {
									font-family: "Inter", sans-serif;
									font-weight: 400;
									font-size: 14px;
									&:first-child {
										color: $dark-grey;
									}
									&:last-child {
										color: $black;
									}
								}
							}
						}
					}
					.last-row {
						& > a {
							display: flex !important;
							font-family: "Inter", sans-serif !important;
							font-weight: 400 !important;
							font-size: 12px !important;
							color: $black !important;
							padding: 6px 8px !important;
							background-color: $table-header-background !important;
							border-radius: 99px;
						}
					}
					.production-status-label {
						padding: 6px 8px !important;
						border-radius: 99px !important;
						font-size: 12px !important;
						margin-bottom: 0 !important;
						background-color: #fff9f0 !important;
						color: #d68a1a !important;
					}
				}

				.no-data-found {
					display: flex;
					flex-direction: column;
					padding: 32px 16px;
					img {
						width: auto;
					}
				}
			}
			.add-new-orders-options {
				padding-bottom: 8px !important;
				.add-new-orders-buttons {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.quick-order {
						font-family: "Inter";
						font-weight: 600;
						line-height: 20px;
						color: #0171a1;
						cursor: pointer;
					}
					.add-order {
						line-height: 20px;
						cursor: pointer;
					}
				}
			}

			.quick-add-content {
				position: sticky;
				bottom: 0;
				z-index: 9999;
				border-top: 1px solid $divider-bg;
			}
		}
		//e

		.select-purchase-order-po-supplier {
			.v-input__control {
				.v-input__slot {
					.v-select__slot {
						input[type="text"] {
							@include fontStyles(400, 14);
						}
					}
				}
			}
		}

		::placeholder {
			font-family: "Inter", sans-serif;
			font-weight: 600;
			font-size: 14px;
		}
	}

	#select-autocomplete-3 {
		fieldset {
			background-color: $white !important;
			border: 1px solid $light-grey !important;
		}

		@include selectStyles();
	}

	.select-autocomplete-wrapper {
		fieldset {
			background: $white !important;
		}
	}
}

//select styles
@mixin selectStyles() {
	.v-input {
		.v-input__control {
			.v-input__slot {
				.v-text-field__slot {
					input[type="text"] {
						@include fontStyles(400, 14);
						&::placeholder {
							@include fontStyles(400, 14);
						}
					}
				}
				.v-select__slot {
					.v-input__append-inner {
						height: 100% !important;
					}

					input[type="text"] {
						@include fontStyles(400, 14);

						&::placeholder {
							@include fontStyles(400, 14);
						}
					}
				}
			}
		}
	}
}

//textarea mixin
@mixin textareaStyles {
	@for $i from 1 through $textareas {
		#text-area-wrapper-#{$i} {
			.text-fields {
				.v-input__control {
					.v-input__slot {
						fieldset {
							top: -5px !important;
							height: auto !important;
							//height: 110px !important;
							//border: 0px solid transparent !important;
							//background: $divider-bg !important;
						}
						textarea {
							padding-top: 8px !important;
							padding-bottom: 8px !important;
							min-height: 300px !important;
							//height: 93px !important;
							//margin-top: 7px !important;
						}
					}
				}
			}
		}
	}
}
/* mobile */
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

#shipment-booking-request-form {
	background: #f5f9fc;
	&.booking-request-form-wrapper {
		padding: 80px;
		.booking-shipment-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 40px;
			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: $default-text-color;
				span {
					a {
						color: $dark-blue;
					}
				}
			}
		}

		.booking-shipment-form {
			&.v-card {
				box-shadow: none;
				.v-card__title {
					border-bottom: 1px solid #ebf2f5 !important;
					padding: 16px 24px;
					span {
						font-weight: 600;
						font-size: 20px !important;
						line-height: 30px;
						font-family: "Inter" !important;
					}
				}
				.v-card__text {
					padding: 0;
					border-bottom: 1px solid #ebf2f5 !important;
					.booking-shipment-form-content {
						display: flex;
						height: 100%;

						.sidebar-item-main-wrapper {
							padding-top: 16px;
							width: 20%;
							background: #f7f7f7;
							.sidebar-items-wrapper {
								display: flex;
								height: 44px;
								&.selected {
									&::before {
										content: "";
										position: absolute;
										height: 44px;
										width: 4px;
										background-color: $light-blue;
									}
								}
								.sidebar-item {
									padding-right: 34px;
									padding-left: 24px;
									& > div:last-child {
										font-family: $fontFamilyRegular;
										font-weight: 500;
										font-size: 14px;
										color: $default-text-color;
									}

									&.selected {
										& > div:last-child {
											font-size: 16px;
											font-weight: 600;
											color: $dark-blue;
										}
									}
								}
							}
						}

						.booking-shipment-request-content-details {
							width: 80%;
							max-height: 500px !important;
							height: auto !important;
							overflow-y: scroll !important;
							overflow-x: hidden !important;
							padding: 24px;

							&::-webkit-scrollbar {
								width: 10px;
							}

							&::-webkit-scrollbar-track {
								background: #f1f1f1;
							}

							&::-webkit-scrollbar-thumb {
								background: #d3d3d3;
							}

							&::-webkit-scrollbar-thumb:hover {
								background: #d3d3d3;
							}

							.content-title {
								font-family: $fontFamilyRegular;
								font-weight: 600;
								font-size: 20px;
								color: $default-text-color;
							}

							form {
								margin-top: 16px;

								.text-field-label {
									font-family: $fontFamilyRegular;
									font-weight: 600;
									font-size: 10px;
									line-height: 12px;
									text-transform: uppercase;
									color: $table-header-text-color;
									margin-bottom: 6px;
								}
								.form-details-wrapper {
									gap: 48px;
									.form-wrapper {
										width: 50%;
										.radio-group-wrapper {
											margin-bottom: 16px;
											max-height: 40px;
											padding-bottom: 0px;
											.radio-item {
												cursor: pointer !important;
												padding: 8px 12px;
												border: 1px solid $light-grey;
												border-radius: 4px;
												height: 40px !important;
												
												&.role-radio{
													background-color: #EBF2F5;
												}
												
												label {
													&::before {
														display: none;
														content: "";
														background-color: $white;
														height: 14px;
														width: 14px;
														border: 1px solid $dark-blue;
														border-radius: 14px;
													}
													&.radio-label-wrapper {
														position: relative;
														padding-left: 20px;

														span {
															position: absolute;
															top: 3px;
															left: 0px;
															height: 16px;
															width: 16px;
															background-color: $white;
															border-radius: 50%;
															content: "";
															border: 1px solid $dark-blue;
															display: block;
															cursor: pointer;

															&::after {
																position: absolute;
																top: 4px;
																left: 27%;
																width: 7px;
																height: 7px;
																border-radius: 14px;
																background: $white;
																content: "";
																display: block;
															}

															&.checkbox-selected {
																background-color: $dark-blue !important;
															}
														}
													}

													font-family: $fontFamilyRegular;
													font-weight: 400;
													font-size: 14px;
													color: $default-text-color;
												}

												input {
													margin-right: 8px;

													&.custom-radio {
														&:checked ~ span {
															background-color: $dark-blue !important;
														}
													}
												}
												.v-input--radio-group {
													.v-input__control {
														margin-top: 0px;
														background-color: transparent;
													}
													margin-top: 12px !important;
												}

												& > div {
													&:nth-child(3) {
														margin-right: 8px !important;
														font-family: $fontFamilyRegular;
														font-weight: 400;
														font-size: 14px;
														color: $default-text-color;
													}
												}

												&.selected {
													border: 1px solid $dark-blue;
												}
												margin-right: 8px;
											}

											//incoterms other styles
											#payment-term-wrapper {
												.payment-dropdown-button-menu {
													left: 0px !important;
													top: 35px !important;
													width: 110px;
													max-width: none;
												}
											}

											&.radio-group-wrapper-incoterms {
												max-height: none !important;
												margin-bottom: 16px;
												display: flex;
												align-items: center;
												// .radio-item:nth-child(7) {
												// 	margin-top: 8px;
												// }
												#incoterm-error-wrapper-id {
													.v-input {
														&.error--text {
															width: 100%;
														}
													}
												}
											}
										}
										.text-field-wrapper {
											display: flex;
											flex-direction: column;
											min-height: 0px !important;
											max-height: none !important;
											margin-bottom: 16px;

											.v-input {
												.v-input__control {
													.v-select__slot {
														input {
															font-size: 14px;
															line-height: 20px;
														}
													}
												}
												&.v-input--is-disabled {
													.v-input__control {
														.v-input__slot {
															fieldset {
																background-color: $divider-bg !important;
																border: none;
															}
														}
													}
												}
											}

											.v-select__selection {
												margin-top: 0px !important;
											}
											.v-select--is-menu-active {
												background-color: $table-hover-background !important;
											}
										}
										.v-input__control {
											height: auto;
											background-color: transparent !important;
											flex-direction: row;
											.v-input__slot {
												min-height: 40px !important;
												max-height: none;
												margin-bottom: 0px;
												fieldset {
													top: -5px !important;
													width: 100% !important;
													min-height: 0px !important;
													max-height: none !important;
													border: 1px solid $light-grey;
													border-radius: 4px;
												}
												.v-text-field__slot {
													input {
														padding: 0px;
														line-height: 18px;
														font-size: 12px;
														font-weight: 400;
														max-height: none;
														font-family: $fontFamilyRegular;
														color: $default-text-color;
													}
												}
												.v-input__append-inner {
													height: 75%;
													padding-right: 0px;
												}
											}
										}

										.dates-wrapper {
											min-height: 40px !important;
											.text-fields {
												margin-bottom: 16px !important;
											}

											.v-input__append-inner {
												height: 100% !important;
											}
											.v-input__control {
												.v-input__slot {
													min-height: 0px !important;
													height: 40px !important;
												}

												.v-text-field__details {
													margin-top: 6px;
												}
											}

											.mdi-calendar {
												&::before {
													content: "";
													display: inline-flex;
													background-image: url("/assets/icons/calendar.svg") !important;
													background-size: 18px 18px;
													height: 18px;
													width: 18px;
												}
											}
										}

										.form-label {
											line-height: 12px;
											height: auto !important;
											/*height: 18.8px !important;*/
											margin-bottom: 6px;
											& > span {
												font-family: $fontFamilyRegular;
												font-weight: 400;
												font-size: 10px;
												color: $table-header-text-color;
												&:first-child {
													font-weight: 600;
												}
											}
										}
										.select-auto-complete-main-wrapper {
											margin-bottom: 16px !important;
										}

										.tooltip-wrappers {
											span {
												&:last-child {
													.booking-tooltip {
														z-index: 10000;
														width: 370px !important;
														opacity: 1 !important;
														top: -18px !important;
														left: 20px !important;
														background: #4a4a4a !important;
														border-radius: 4px;
														padding: 9px !important;
														&::after {
															display: block;
															content: "";
															background: #4a4a4a !important;
															transform: rotate(45deg);
															position: absolute;
															left: -3px;
															top: 20px;
															width: 10px;
															height: 10px;
															z-index: 999;
														}

														& > div {
															color: $white;
															font-family: "Inter", sans-serif;
															font-size: 10px;
															font-weight: 400;
															line-height: 1.5;
														}
													}
													position: relative;
													cursor: pointer;
													display: flex !important;
													//	margin-top: 6px;
													margin-left: 6.6px;
												}
											}
										}
									}
								}

								.checkbox-wrapper-desktop {
									&.port-location-checkbox {
										margin-bottom: 16px;
										padding: 12px;
										background: #f7f7f7;
										border-radius: 4px;
									}
									label {
										position: relative;
										display: flex;
										align-items: center;
										input {
											position: absolute;
											opacity: 0;
										}
										span {
											color: #4a4a4a;
											padding-left: 12px;
										}
									}
								}

								/* purchase order section */
								.purchase-orders-section {
									margin-top: 16px;
									width: 100%;

									.purchase-order-wrapper {
										margin-top: 24px;
										border: 1px solid $light-grey;
										position: relative;
										min-height: 200px;
										width: 100%;
										display: flex;
										flex-direction: column;
										padding-bottom: 24px;
										border-radius: 4px !important;
										.v-select--is-menu-active {
											background: transparent !important;
										}
										.select-items-wrapper {
											position: absolute;
											left: 16px;
											z-index: 100;
											top: -14px;
											display: flex;
											flex-direction: row;
											margin-right: 4px;
											.select-items {
												margin-right: 8px;
												border-radius: 4px;
												fieldset {
													top: -5px !important;
													width: 100% !important;
													background: $white !important;
													//height: 40px;
												}
												.v-select__slot {
													width: 100% !important;
													//height: 40px;
													font-size: 12px !important;
													.v-select__selections {
														height: auto !important;
														padding-top: 0px;
														align-content: center;
													}
													input[type="text"] {
														@include fontStyles(400, 14);
													}
												}
												.v-input__slot {
													width: 100% !important;
													padding: 0px !important;
													font-size: 12px !important;
												}
											}
											.delete-btn-wrapper {
												button {
													height: 36px !important;
													margin-left: 8px !important;
													padding: 8px !important;
													padding-top: 13px !important;
													width: 36px !important;
													min-width: 1px !important;
													min-height: 0px !important;
													max-width: none !important;
													max-height: none !important;
												}

												&.delete-btn-wrapper-mobile {
													button {
														margin-right: 0px !important;
													}
												}
											}
											.select-all-box {
												padding-left: 4px;
												padding-right: 4px;
												height: 35px;
												margin-right: 8px;
												background-color: $white;
												border: 1px solid $light-grey;
												border-radius: 4px;
												display: flex;
												.product-checkbox {
													display: flex;
													align-items: center;
													padding: 0 10px;
													gap: 8px;
													span {
														color: #b4cfe0 !important;
													}
												}
											}
											.dates-wrapper {
												.mdi-calendar {
													&::before {
														content: "";
														display: inline-flex;
														background-image: url("/assets/icons/calendar-blue.svg") !important;
														background-size: 18px 18px;
														height: 18px;
														width: 18px;
													}
												}
												.v-input__slot {
													min-height: 0px !important;
												}
											}

											.input-general-wrapper {
												.manual-order-number {
													&.error--text {
														.v-input__control {
															flex-direction: row;
															.v-input__slot {
																margin-bottom: 0;
																fieldset {
																	border: 1px solid red !important;
																}
															}
														}
													}
												}
											}
										}
										.table-wrapper {
											margin-top: 32px;
											padding-left: 14px;
											padding-right: 14px;
											overflow-x: hidden;
											.v-data-table {
												.v-data-table__wrapper {
													overflow-x: auto;
													&::-webkit-scrollbar {
														height: 5px;
														background-color: #f5f5f5;
													}
													&::-webkit-scrollbar-track {
														border-radius: 10px;
														background-color: #f5f5f5;
													}

													&::-webkit-scrollbar-thumb {
														border-radius: 10px;
														background-color: #d3d3d3;
													}

													&::-webkit-scrollbar-thumb:hover {
														background: #d3d3d3;
													}
													table {
														width: 1382px !important;
														thead {
															tr {
																:first-child {
																	position: sticky;
																	left: 0;
																	z-index: 99;
																}
																:nth-child(2) {
																	overflow-x: auto;
																	z-index: 9;
																}
																th {
																	font-family: "Inter", sans-serif;
																	font-weight: 600;
																	font-size: 10px;
																	background-color: $table-hover-background;
																	text-transform: uppercase;
																	color: $grey;
																	box-shadow: none !important;
																	height: 36px !important;
																	border-bottom: 0px solid transparent !important;
																}
															}
														}
														tbody {
															tr {
																height: 36px !important;
																background: $white !important;

																td {
																	box-shadow: none !important;
																	border: thin solid $divider-bg !important;
																	height: 60px !important;
																	padding: 0px !important;
																	text-align: center;

																	&:first-child {
																		padding-left: 8px;
																		position: sticky !important;
																		left: 0 !important;
																		z-index: 99;
																		background: $divider-bg;
																		.v-input {
																			.v-input__control {
																				background: $divider-bg;
																				fieldset {
																					background: $divider-bg;
																				}
																			}
																		}
																	}
																	.v-select--is-menu-active {
																		background-color: $table-hover-background;
																	}
																	.v-text-field input {
																		padding: 8px 8px;
																	}
																	.amount {
																		word-break: break-all;
																		padding-right: 8px;
																		justify-content: end;
																	}
																	.action-wrapper {
																		display: flex;
																		justify-content: center;
																		height: 44px;
																		align-items: center;
																	}

																	.carton,
																	.unit {
																		border-radius: 0px !important;
																		.v-text-field__details {
																			display: none !important;
																		}
																		.v-input__control {
																			width: 56px !important;
																			display: block !important;
																			margin-bottom: 0px !important;
																			.v-input__slot {
																				display: block !important;
																				margin-bottom: 0px !important;
																				width: 100% !important;
																				padding-right: 0px !important;
																				fieldset {
																					top: -5px !important;
																					width: 100% !important;
																					border-radius: 4px !important;
																					border: 0px solid transparent !important;
																				}
																				.v-text-field__slot {
																					height: auto !important;
																					input {
																						width: 100%;
																						font-size: 12px;
																						font-weight: 400;
																						max-height: none;
																						font-family: $fontFamilyRegular;
																						color: $default-text-color;
																						text-align: right !important;
																					}
																				}
																			}
																		}
																	}

																	.sku-id {
																		.v-input__control {
																			.v-input__slot {
																				.v-text-field__slot {
																					input {
																						text-align: left !important;
																					}
																				}
																			}
																		}
																	}

																	.product-error-message {
																		font-size: 12px;
																	}
																}

																& > td {
																	height: 36px !important;
																}

																&.item-row {
																	td {
																		&:nth-child(2) {
																			padding-left: 0 !important;
																			position: relative;

																			.action-image {
																				display: flex;
																				position: absolute;
																				right: 0;
																				top: -32px;
																				z-index: 99;
																				.v-btn {
																					width: 32px;
																					background: #0171a1;
																					min-width: 32px;
																					height: 32px;
																					box-shadow: none;
																					border-radius: 0;
																				}
																			}
																			.text-description {
																				position: absolute;
																				top: 0;
																				width: 100%;
																			}
																			textarea {
																				width: 100%;
																				resize: none;
																				background: #ffffff;
																				outline: none !important;
																				border: 1px solid #0171a1 !important;
																				box-shadow: 0 0 8px 0 #ffffff;
																			}
																		}
																	}

																	&.item-row-add {
																		.v-input--is-disabled {
																			.v-input__control {
																				.v-input__slot {
																					fieldset {
																						background-color: $divider-bg !important;
																					}
																				}
																			}
																		}

																		td {
																			&:nth-last-child(2),
																			&:nth-last-child(3),
																			&:nth-last-child(4),
																			&:nth-last-child(5),
																			&:nth-last-child(8),
																			&:nth-last-child(9) {
																				background-color: $divider-bg !important;
																			}
																		}
																	}
																}

																&.item-row-special {
																	td {
																		border: 0px solid transparent !important;
																		background: none;
																	}
																}
															}
															.v-data-table__empty-wrapper {
																display: none;
															}
														}
														.carton-wrapper-error {
															& > div {
																& > div {
																	& > div.v-input__slot {
																		& > div {
																			& > input[type="number"] {
																				color: $dark-red !important;
																			}
																		}
																	}
																}
															}
														}
													}
												}
											}

											.order-total-wrapper {
												margin-top: 16px;
												margin-bottom: 12px;
												justify-content: space-between;
												.order-total-item {
													display: flex;
													align-items: center;
													gap: 12px;
													p,
													span {
														font-family: "Inter";
														font-weight: 400;
														font-size: 14px;
														color: $default-text-color;
														margin-bottom: 0;
														line-height: 20px;
													}
													&.info-message {
														width: 25%;
														gap: 8px !important;
													}
												}
											}
										}

										.total-carton-volume-weight {
											margin-top: 35px;
											padding-left: 16px;
											padding-right: 16px;
											gap: 16px;
											.text-field-wrapper {
												width: 33%;
												.v-input {
													.v-input__slot {
														fieldset {
															border: 1px solid $light-grey;
														}
													}
												}
											}
										}

										fieldset {
											top: -5px !important;
											width: 100% !important;
										}
										.v-select__slot {
											width: 100% !important;
										}
										.v-input__slot {
											width: 100% !important;
										}
									}
								}

								.containers-others-section {
									margin-top: 24px;
									.content-title {
										padding-bottom: 8px;
									}
									.container-section {
										width: 50%;
										.container-wrapper {
											margin-top: 0px;
											thead {
												th {
													padding: 8px 12px !important;
													font-family: "Inter", sans-serif;
													font-weight: 600;
													height: 36px !important;
													font-size: 10px;
													box-shadow: none !important;
													background-color: $table-hover-background;
													text-transform: uppercase;
													color: $grey;
												}
											}
											tbody {
												td {
													text-align: center;
													box-shadow: none !important;
													border-bottom: thin solid $divider-bg !important;
													padding: 0px 12px 0px 12px !important;
													.v-select--is-menu-active {
														background-color: $table-hover-background;
													}

													.v-input__control {
														background-color: $white !important;

														.v-text-field__slot {
															padding: 0px;
															height: 35px;
															font-size: 12px;
															font-weight: 400;
															font-family: $fontFamilyRegular;
															color: $default-text-color;

															input {
																font-family: "Inter", sans-serif;
																font-weight: 400;
																font-size: 14px;
																line-height: 20px;
																color: $default-text-color;
															}
														}
													}
													fieldset {
														top: -5px !important;
														background-color: $white;
														height: auto !important;
														min-height: 0px !important;
														max-height: none !important;
														border: 0px solid transparent !important;
													}

													.text-fields {
														margin-bottom: 0px !important;
														height: 40px !important;
													}
													.v-select--is-menu-active {
														background-color: $table-hover-background !important;
													}
													height: 36px !important;
													min-height: 0px !important;
													max-height: none;
												}

												tr {
													&:hover {
														.v-input__control {
															background-color: $white !important;
														}
														.v-input__slot {
															background-color: $white !important;
														}
													}
												}
											}
										}
									}
									.other-section {
										width: 50%;
										.marks {
											margin-bottom: 16px;
										}
									}
								}

								.cargo-details-section {
									margin-top: 32px;
									.cargo-details {
										margin: 16px 0 16px 0;
										gap: 16px;
										.text-field-wrapper {
											width: 100% !important;
											fieldset {
												background-color: $divider-bg;
												border: 1px solid $light-grey;
											}
										}
									}

									&.enable-cargo-details-section {
										.cargo-details {
											.v-input {
												.v-input__control {
													.v-input__slot {
														fieldset {
															background-color: $white;
														}
													}
													.v-text-field__details {
														margin-bottom: 0;
														.v-messages__wrapper {
															padding: 0 0 0 5px;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}

				.v-card__actions {
					padding: 16px 24px;
				}
			}
		}
	}
	.text-area-wrapper-1 {
		margin-bottom: 16px !important;
		.v-textarea {
			.v-input__control {
				.v-input__slot {
					height: 76px !important;
					fieldset {
						width: 100% !important;
						height: auto !important;
					}
					.v-text-field__slot {
						height: auto !important;
						padding-top: 10px !important;
						padding-bottom: 10px !important;
						max-width: 100%;
						textarea {
							width: 100% !important;
							min-height: 0px !important;
							overflow-y: hidden;
							padding: 0px !important;
							margin-top: 0px !important;
							color: #4a4a4a;
						}
					}
				}
			}
		}
		&.text-area-wrapper-2 {
			.v-textarea {
				.v-input__control {
					.v-input__slot {
						height: 10px !important;
					}
				}
			}
		}
	}
}

.v-menu__content {
	&.order-items-lists {
		max-width: 400px !important;
		.v-list {
			padding-bottom: 0;
			.no-data-found {
				display: flex;
				flex-direction: column;
				padding: 32px 16px;
				img {
					width: auto;
				}
			}

			.add-new-orders-options {
				position: sticky;
				bottom: 0;
				z-index: 9999;
				border-top: 1px solid $divider-bg;
				padding-bottom: 8px !important;
				.add-new-orders-buttons {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 12px;
					.quick-order {
						font-family: "Inter";
						font-weight: 600;
						line-height: 20px;
						color: #0171a1;
						cursor: pointer;
					}
					.add-order {
						line-height: 20px;
						cursor: pointer;
					}
				}
			}
		}
	}
}

/* purchase order dropdown options style */
.select-purchase-order {
	width: 100% !important;
	height: 36px;
	margin-right: 16px !important;

	&.select-purchase-order-mobile {
		width: 227px !important;
	}
	.v-input__control {
		height: 36px;
		padding-top: 0px !important;
		& > .v-input__slot {
			height: 36px;
			& > {
				fieldset {
					top: -5px !important;
					border: 1px solid $light-grey !important;
					height: 36px;
					background-color: $white;
				}
				.v-select__slot {
					height: 36px;
					& > input[type="text"] {
						height: 36px;
						font-size: 14px;
						margin-top: 0px;
						font-weight: 600;
						font-family: $fontFamilyRegular;
						color: $default-text-color;
					}

					::-webkit-input-placeholder {
						color: #b4cfe0;
					}
				}
			}
		}
	}

	.v-select--is-menu-active {
		background-color: transparent !important;
	}

	&.select-product {
		.v-input__control {
			height: 36px !important;
			& > .v-input__slot {
				height: 36px !important;
				max-height: none;
				min-height: 0px;
				padding: 0 4px !important;
				& > {
					fieldset {
						height: 36px !important;
						top: -5px !important;
						border: 0px solid transparent !important;
					}

					.v-select__slot {
						.v-input__append-inner {
							.v-input__icon--clear {
								button {
									color: $dark-red;
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}

		&.error {
			fieldset {
				top: -5px !important;
				border: 1px solid $dark-red !important;
			}
		}

		.v-icon {
			&.mdi-menu-down {
				&::before {
					content: "" !important;
				}
				&::after {
					content: "" !important;
					display: inline-flex !important;
					background-image: url("/assets/icons/chevron-down.svg") !important;
					background-size: 18px 18px !important;
					background-repeat: no-repeat;
					height: 18px !important;
					width: 18px !important;
					top: -10px;
					left: -10px;
					opacity: 1;
					background-color: transparent !important;
					cursor: pointer !important;
				}
			}
		}
	}

	&.error {
		border: 1px solid red;
	}
}

@include autoCompleteStyles();

/* add purchase order style*/
.add-purchase-order-wrapper {
	margin-top: 0px !important;
}

/* add product style */
.add-product-purchase-order-wrapper {
	padding-left: 16px;
	.add-product-purchase-orders {
		cursor: pointer;
		padding: 8px 12px;
		border: 1px solid $light-grey;
		border-radius: 4px;
		margin-right: 8px;
	}

	a {
		border: 0px solid transparent !important;
		span {
			color: $dark-blue;
			font-family: "Inter", sans-serif;
			font-weight: 500;
			font-size: 14px;
		}
	}
}

.add-product-item {
	padding-left: 0px !important;
}
.purchase-orders-table {
	.v-data-table__wrapper {
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		&::-webkit-scrollbar-thumb {
			background: #d3d3d3;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #d3d3d3;
		}
		.product-add-all-wrapper {
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			input[type="checkbox"] {
				&:checked ~ span {
					background-color: $dark-blue !important;
				}
			}
			//s
			label {
				display: flex;
				height: 20px;
				width: 20px;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				span {
					padding-left: 27px;
				}
			}
			//e
		}

		table {
			width: 100% !important;
		}
	}
}

/*  product item select style */
.product-item-wrapper {
	width: 100%;

	button {
		color: #614e4e;
		font-size: 20px;
	}

	.product-category-sku {
		font-family: "Inter", sans-serif;
		font-weight: 500;
		font-size: 14px;
		color: $black;
	}

	.product-unit-price {
		color: #6d858f !important;
		font-family: "Inter", sans-serif;
		font-size: 14px;
		font-weight: 500;
	}
	.product-image {
		object-fit: cover;
		width: 60px;
		height: 60px;
	}
}

.v-tooltip__content {
	&.carton-tooltip {
		background-color: $dark-blue !important;
		span {
			font-family: "Inter", sans-serif;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			color: $white !important;
		}
		margin-left: 70px;
		margin-top: -3px;

		&::after {
			content: "";
			width: 10px;
			right: -4px;
			top: 37%;
			height: 10px;
			background-color: $dark-blue;
			transform: rotate(45deg);
			border: 0px solid transparent;
			display: block;
			position: absolute;
		}

		&.tooltip-has-error {
			display: block !important;
			background-color: $dark-red !important;
			&::after {
				background-color: $dark-red;
			}
		}
	}
}
