/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/docs
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.
/storage/debugbar/*.json
.vscode/settings.json
.idea
.scribe
.scribe/endpoints.cache
.scribe/endpoints
*node_modules
package-lock.json.bak
