/** @format */

@import "../../../../assets/scss/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

$fontFamilyRegular: "Inter", sans-serif !important;
$textareas: 8;
$autoCompletes: 4;

//font style mixin
@mixin fontStyles($weight, $size) {
	font-family: $fontFamilyRegular;
	font-weight: #{$weight} !important;
	font-size: #{$size}px !important;
}

//autocomplete mixin
@mixin autoCompleteStyles() {
	@for $i from 1 through $autoCompletes {
		#select-autocomplete-#{$i},
		.select-autocomplete-wrapper {
			width: 93% !important;
			height: 40px;
			//height: auto !important;
			position: relative;
			margin-bottom: 16px;
			fieldset {
				width: 100%;
				top: -5px !important;
				border: if($i==3, 0px, 1px) solid if($i==3, transparent, $light-grey);
				border-radius: 4px !important;
				background-color: $white !important;
				//height: 40px !important;
				height: auto !important;
			}

			.v-icon {
				&.mdi-menu-down {
					&::before {
						content: "" !important;
					}
					&::after {
						content: "" !important;
						display: inline-flex !important;
						background-image: if(
							$i==3,
							url("/assets/icons/chevron-down.svg"),
							url("/assets/icons/chevron-down-dark.svg")
						) !important;
						background-size: 18px 18px !important;
						background-repeat: no-repeat;
						height: 18px !important;
						width: 18px !important;
						top: -10px;
						left: -10px;
						opacity: 1;
						background-color: transparent !important;
						cursor: pointer !important;
					}
				}
			}

			.v-input {
				width: 100% !important;
				height: auto !important;
				//height: 40px;
				.v-input__control {
					height: 40px;
					.v-input__slot {
						.v-text-field__slot {
							input[type="text"] {
								@include fontStyles(400, 14);
								&::placeholder {
									@include fontStyles(600, 12);
								}
							}
						}
						.v-select__slot {
							.v-input__append-inner {
								height: 100% !important;
							}

							input[type="text"] {
								@include fontStyles(400, 14);

								&::placeholder {
									@include fontStyles(400, 14);
								}
							}
						}
					}
				}
			}
		}
	}

	#select-autocomplete-1 {
		.v-icon {
			&.mdi-menu-down {
				&::after {
					background-image: url("/assets/icons/chevron-down.svg") !important;
				}
			}
		}
		@include selectStyles();
		&.consignee-wrapper {
			.consignee-name {
				span {
					@include fontStyles(600, 14);
					color: $default-text-color;
				}
			}
			.consignee-address {
				span {
					@include fontStyles(400, 14);
					color: $dark-grey;
				}
			}

			.v-input {
				.v-input__control {
					.v-input__slot {
						fieldset {
							background: $divider-bg !important;
							border: 0px solid transparent !important;
						}
					}
				}
			}
		}

		.v-list-item {
			padding-top: 16px !important;
			padding-left: 16px !important;
			padding-bottom: 16px !important;
		}
	}
	#select-autocomplete-2,
	#select-autocomplete-4,
	.select-autocomplete-wrapper {
		width: auto !important;
		//width: 93% !important;
		height: 40px;
		//height: auto !important;
		margin-bottom: 16px;
		fieldset {
			width: 100%;
			top: -5px !important;
			border: 1px solid $light-grey !important;
			border-radius: 4px !important;
			height: 40px !important;
			//height: auto !important;
		}
		.v-icon {
			&.mdi-menu-down {
				&::before {
					content: "" !important;
				}
				&::after {
					content: "" !important;
					display: inline-flex !important;
					background-image: url("/assets/icons/chevron-down.svg") !important;
					background-size: 18px 18px !important;
					background-repeat: no-repeat;
					height: 18px !important;
					width: 18px !important;
					top: -10px;
					left: -10px;
					opacity: 1;
					background-color: transparent !important;
					cursor: pointer !important;
				}
			}
		}
		.v-input {
			width: 200px !important;
			//height: auto !important;
			height: 40px;
			.v-input__control {
				height: 40px;
				.v-input__slot {
					padding-left: 10px !important;
					padding-right: 4px !important;
					.v-select__slot {
						.v-input__append-inner {
							height: 100% !important;
						}
					}
				}
			}
		}
		//s
		/* po style menu items result*/
		.po-lists-items {
			width: 430px;
			overflow-y: scroll !important;
			padding-right: 0px !important;
			font-size: 12px;
			top: 35px !important;

			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background: #f1f1f1;
			}

			&::-webkit-scrollbar-thumb {
				background: #d3d3d3;
			}

			&::-webkit-scrollbar-thumb:hover {
				background: #d3d3d3;
			}
			.v-list {
				background-color: $white !important;
				padding-bottom: 0;
				.v-list-item {
					padding-top: 16px;
					.first-row {
						& > div {
							&:first-child {
								& > span {
									&:first-child {
										font-family: "Inter", sans-serif;
										font-weight: 400;
										font-size: 16px;
										color: $dark-blue;
									}
									&:last-child {
										font-family: "Inter", sans-serif;
										font-weight: 600;
										font-size: 16px;
										color: $dark-blue;
									}
								}
							}
							&:last-child {
								font-family: "Inter", sans-serif;
								font-weight: 400;
								font-size: 16px;
								line-height: 24px;
								color: $black;
							}
						}
					}

					.second-row {
						font-family: "Inter", sans-serif;
						font-weight: 500;
						font-size: 14px;
						color: $black;
					}
					.third-row {
						font-family: "Inter", sans-serif;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						padding-bottom: 12px;
						color: $dark-grey;
						display: block !important;
						width: 60%;
						word-break: break-word;
						/*white-space: nowrap;*/
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.fourth-row {
						& > div {
							&:first-child {
								& > span {
									font-family: "Inter", sans-serif;
									font-weight: 400;
									font-size: 14px;
									&:first-child {
										color: $dark-grey;
									}
									&:last-child {
										color: $black;
									}
								}
							}
							&:last-child {
								& > span {
									font-family: "Inter", sans-serif;
									font-weight: 400;
									font-size: 14px;
									&:first-child {
										color: $dark-grey;
									}
									&:last-child {
										color: $black;
									}
								}
							}
						}
					}
					.last-row {
						& > a {
							display: flex !important;
							font-family: "Inter", sans-serif !important;
							font-weight: 400 !important;
							font-size: 12px !important;
							color: $black !important;
							padding: 6px 8px !important;
							background-color: $table-header-background !important;
							border-radius: 99px;
						}
					}
					.production-status-label {
						padding: 6px 8px !important;
						border-radius: 99px !important;
						font-size: 12px !important;
						margin-bottom: 0 !important;
						background-color: #fff9f0 !important;
						color: #d68a1a !important;
					}
				}

				.no-data-found {
					display: flex;
					flex-direction: column;
					padding: 32px 16px;
					img {
						width: auto;
					}
				}
			}
			.add-new-orders-options {
				padding-bottom: 8px !important;
				.add-new-orders-buttons {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.quick-order {
						font-family: "Inter";
						font-weight: 600;
						line-height: 20px;
						color: #0171a1;
						cursor: pointer;
					}
					.add-order {
						line-height: 20px;
						cursor: pointer;
					}
				}
			}

			.quick-add-content {
				position: sticky;
				bottom: 0;
				z-index: 9999;
				border-top: 1px solid $divider-bg;
			}
		}
		//e

		.select-purchase-order-po-supplier {
			.v-input__control {
				.v-input__slot {
					.v-select__slot {
						input[type="text"] {
							@include fontStyles(400, 14);
						}
					}
				}
			}
		}

		::placeholder {
			font-family: "Inter", sans-serif;
			font-weight: 600;
			font-size: 14px;
		}
	}

	#select-autocomplete-3 {
		fieldset {
			background-color: $white !important;
			border: 1px solid $light-grey !important;
		}

		@include selectStyles();
	}

	.select-autocomplete-wrapper {
		fieldset {
			background: $white !important;
		}
	}
}
.v-menu__content {
	&.order-items-lists {
		max-width: 400px !important;
		.v-list {
			padding-bottom: 0;
			.no-data-found {
				display: flex;
				flex-direction: column;
				padding: 32px 16px;
				img {
					width: auto;
				}
			}

			.add-new-orders-options {
				position: sticky;
				bottom: 0;
				z-index: 9999;
				border-top: 1px solid $divider-bg;
				padding-bottom: 8px !important;
				.add-new-orders-buttons {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 12px;
					.quick-order {
						font-family: "Inter";
						font-weight: 600;
						line-height: 20px;
						color: #0171a1;
						cursor: pointer;
					}
					.add-order {
						line-height: 20px;
						cursor: pointer;
					}
				}
			}
		}
	}
}

//select styles
@mixin selectStyles() {
	.v-input {
		.v-input__control {
			.v-input__slot {
				.v-text-field__slot {
					input[type="text"] {
						@include fontStyles(400, 14);
						&::placeholder {
							@include fontStyles(400, 14);
						}
					}
				}
				.v-select__slot {
					.v-input__append-inner {
						height: 100% !important;
					}

					input[type="text"] {
						@include fontStyles(400, 14);

						&::placeholder {
							@include fontStyles(400, 14);
						}
					}
				}
			}
		}
	}
}

//textarea mixin
@mixin textareaStyles {
	@for $i from 1 through $textareas {
		#text-area-wrapper-#{$i} {
			.text-fields {
				.v-input__control {
					.v-input__slot {
						fieldset {
							top: -5px !important;
							height: auto !important;
							//height: 110px !important;
							//border: 0px solid transparent !important;
							//background: $divider-bg !important;
						}
						textarea {
							padding-top: 8px !important;
							padding-bottom: 8px !important;
							min-height: 300px !important;
							//height: 93px !important;
							//margin-top: 7px !important;
						}
					}
				}
			}
		}
	}
}
/* mobile */
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

.w-full {
	width: 100%;
}

.edit-shipment-mobile-wrapper {
	position: relative;
	.preloader {
		display: flex;
		width: 100% !important;
		justify-content: center;
		align-items: center;
	}
	.header-title-wrapper {
		padding: 16px;
		border-bottom: 3px solid $divider-bg;
		h2 {
			font-family: $fontFamilyRegular;
			font-weight: 600 !important;
			color: $default-text-color;
		}
	}
	.form-wrapper {
		input {
			font-size: 14px !important;
		}
	}

	// width: 100%;
	// min-height: 100vh;
	// display: flex;
	// flex-direction: column;
	// position: absolute;
	// left: 0px;
	// top: 0px;
	// background: $white;
	// z-index: 5;
	// padding-bottom: 16px !important;

	.v-item-group {
		& > div {
			&:first-child {
				display: none !important;
			}

			&:last-child {
				display: none !important;
			}
		}
	}
	.v-tab {
		font-family: "Inter", sans-serif !important;
		font-weight: 600 !important;
		font-size: 14px;
		padding: 14px 16px;
		justify-content: center;
		width: 100%;
		margin-left: 0px;
		text-transform: none !important;
		text-align: center;
		color: $default-text-color !important;
		border-bottom: 1px solid #d8e7f0;

		&.edit-shipment-tab-active {
			color: $dark-blue !important;
		}

		&.mobile-412 {
			justify-content: center;
			@include fontStyles(600, 14);
			padding: 16px;
			min-width: 0px !important;
			width: auto;
			letter-spacing: 0 !important;
			//min-width: 167px !important;
			//width: 208px !important;
		}
	}

	& > div:last-child {
		/*padding: 16px;*/
		.content-title {
			color: $default-text-color;
			font-family: "Inter", sans-serif;
			font-weight: 600;
			font-size: 16px;
			padding-bottom: 10px;
			// padding-bottom: 16px;
		}
	}

	.form-wrapper {
		.v-select--is-menu-active {
			background: transparent !important;
		}
		.form-label {
			line-height: normal;
			// margin-bottom: 6px;
			margin-bottom: 4px;

			& > span {
				font-family: $fontFamilyRegular;
				font-weight: 400;
				font-size: 12px;
				text-transform: uppercase;
				color: $table-header-text-color;

				&.font-10 {
					font-size: 11px !important;
					font-family: "Inter-SemiBold", sans-serif !important;
					font-weight: unset !important;
				}

				&:first-child {
					font-weight: 600;
				}

				&:last-child {
					text-transform: none;
				}
			}
		}
	}

	.text-field-wrapper {
		//padding-bottom: 16px;
		margin-bottom: 16px;
		.v-input {
			fieldset {
				top: -5px !important;
				border: 1px solid $light-grey !important;
			}

			input {
				&::placeholder {
					color: #b4cfe0;
				}
			}
		}
	}

	.radio-group-wrapper {
		// margin-bottom: 18px;
		margin-bottom: 8px;
		max-height: 40px;
		padding-bottom: 0px;

		&.incoterms-mobile-wrapper {
			display: grid !important;
			grid-template-columns: repeat(4, 1fr);

			.radio-item {
				min-width: 70px;

				.radio-label-wrapper {
					padding-left: 22px;
				}
			}
		}

		.radio-item {
			border: 1px solid $light-grey;
			border-radius: 4px;
			// width: 138px;
			min-width: 100px;
			height: 40px;
			padding-left: 12px;
			padding-right: 12px;
			margin-bottom: 8px !important;
			width: auto;

			label {
				/*
				&::before {
					display: none;
					content: '';
					background-color: $white;
					height: 14px;
					width: 14px;
					border: 1px solid $dark-blue;
					border-radius: 14px;
				}*/

				font-family: $fontFamilyRegular;
				font-weight: 400;
				font-size: 14px;
				color: $default-text-color;

				&.radio-label-wrapper {
					position: relative;
					padding-left: 24px;

					span {
						position: absolute;
						top: 3px;
						left: 0px;
						height: 16px;
						width: 16px;
						background-color: $white;
						border-radius: 50%;
						content: "";
						border: 1px solid $dark-blue;
						display: block;
						cursor: pointer;

						&::after {
							position: absolute;
							top: 3px;
							left: 3px;
							// left: 27%;
							width: 8px;
							height: 8px;
							border-radius: 14px;
							background: $white;
							content: "";
							display: block;
						}
					}
				}
			}

			input {
				margin-right: 8px;
				&.custom-radio {
					&:checked ~ span {
						background-color: $dark-blue !important;
					}
				}
			}
			.v-input--radio-group {
				.v-input__control {
					margin-top: 0px;
					background-color: transparent;

					.v-input__slot {
						margin-bottom: 0px;
					}
				}
				margin-top: 12px !important;
			}

			& > div {
				&:nth-child(3) {
					margin-right: 8px !important;
					font-family: $fontFamilyRegular;
					font-weight: 400;
					font-size: 14px;
					color: $default-text-color;
				}
			}

			&.selected {
				border: 1px solid $dark-blue;
			}
			margin-right: 8px;
		}
	}

	.mdi-calendar {
		&::before {
			content: "" !important;
			display: inline-flex !important;
			background-image: url("/assets/icons/calendar.svg") !important;
			background-size: 18px 18px !important;
			height: 18px !important;
			width: 18px !important;
		}
	}

	.air-mode-type {
		margin-bottom: 16px !important;
	}
	.type-wrapper {
		margin-bottom: 22px !important;
	}
}

/* desktop */
.edit-shipment-dialog-wrapper {
	overflow-y: hidden !important;
}

.select-items-general {
	margin-right: 8px;
	border-radius: 4px;
	.v-select__slot {
		height: 40px;
		min-height: 0px !important;
		max-height: none !important;
		font-size: 12px !important;
		.v-input__append-inner {
			height: 33px;
		}
		.v-select__selections {
			//height: 33px;
			height: auto !important;
			padding-top: 0px;
			align-content: center;
		}
	}

	.v-input__slot {
		font-size: 12px !important;
	}

	fieldset {
		top: -5px !important;
		height: 40px;
		background-color: $white !important;
	}
}
#booking-shipment-dialog-id {
	padding-left: 0px;
	.v-card__text {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.sidebar-label {
		width: 189px;
	}

	.v-card__actions {
		button {
			background-color: $dark-blue;
			border-radius: 4px;
			color: $white;
			font-family: $fontFamilyRegular;
			font-weight: 500;
			text-transform: none;
			font-size: 14px;
			&:first-child {
				margin-right: 4px;
			}
			.v-btn__content {
				span {
					font-family: $fontFamilyRegular;
					font-weight: 500;
					font-size: 14px;
				}
			}

			&:last-child {
				span {
					color: $default-text-color;
				}
			}
		}
	}
	.first-column {
		width: 30%;
		/*
		padding-top: 24px;
		padding-left: 24px;*/
		background-color: $table-hover-background;
	}
	.second-column {
		width: 70%;
		max-height: 500px !important;
		height: auto !important;
		overflow-y: scroll !important;
		overflow-x: hidden !important;
		padding-right: 16px;

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		&::-webkit-scrollbar-thumb {
			background: #d3d3d3;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #d3d3d3;
		}

		padding-top: 24px;
		padding-bottom: 16px;
		.preloader {
			display: flex;
			width: 100% !important;
			justify-content: center;
			align-items: center;
		}

		/* purchase order section */
		.purchase-orders-section {
			margin-top: 16px;
			width: 100%;

			.purchase-order-wrapper {
				margin-top: 24px;
				border: 1px solid $light-grey;
				position: relative;
				min-height: 200px;
				width: 100%;
				display: flex;
				flex-direction: column;
				padding-bottom: 24px;
				border-radius: 4px !important;
				.v-select--is-menu-active {
					background: transparent !important;
				}
				.select-items-wrapper {
					position: absolute;
					left: 16px;
					z-index: 100;
					top: -14px;
					display: flex;
					flex-direction: row;
					margin-right: 4px;
					.select-items {
						margin-right: 8px;
						border-radius: 4px;
						fieldset {
							top: -5px !important;
							width: 100% !important;
							background: $white !important;
							//height: 40px;
						}
						.v-select__slot {
							width: 100% !important;
							//height: 40px;
							font-size: 12px !important;
							.v-input__append-inner {
								//height: 33px;
							}
							.v-select__selections {
								//height: 33px;
								height: auto !important;
								padding-top: 0px;
								align-content: center;
							}
							input[type="text"] {
								@include fontStyles(400, 14);
							}
						}
						.v-input__slot {
							width: 100% !important;
							padding: 0px !important;
							font-size: 12px !important;
						}
					}
					.delete-btn-wrapper {
						button {
							height: 36px !important;
							margin-left: 8px !important;
							padding: 8px !important;
							padding-top: 13px !important;
							width: 36px !important;
							min-width: 1px !important;
							min-height: 0px !important;
							max-width: none !important;
							max-height: none !important;
						}

						&.delete-btn-wrapper-mobile {
							button {
								margin-right: 0px !important;
							}
						}
					}
					.select-all-box {
						padding-left: 4px;
						padding-right: 4px;
						height: 35px;
						margin-right: 8px;
						background-color: $white;
						border: 1px solid $light-grey;
						border-radius: 4px;
						.v-input--checkbox {
							margin-top: 0px !important;
						}
						.v-input__control {
							.v-input__slot {
								& > label {
									font-size: 12px !important;
								}
							}
						}
					}
					.dates-wrapper {
						.mdi-calendar {
							&::before {
								content: "";
								display: inline-flex;
								background-image: url("/assets/icons/calendar-blue.svg") !important;
								background-size: 18px 18px;
								height: 18px;
								width: 18px;
							}
						}
						.v-input__slot {
							min-height: 0px !important;
						}
					}

					.input-general-wrapper {
						.manual-order-number {
							&.error--text {
								.v-input__control {
									flex-direction: row;
									.v-input__slot {
										margin-bottom: 0;
										fieldset {
											border: 1px solid red !important;
										}
									}
								}
							}
						}
					}
				}
				.table-wrapper {
					margin-top: 32px;
					padding-left: 14px;
					padding-right: 14px;
					overflow-x: hidden;
					.v-data-table {
						.v-data-table__wrapper {
							overflow-x: auto;
							&::-webkit-scrollbar {
								height: 5px;
								background-color: #f5f5f5;
							}
							&::-webkit-scrollbar-track {
								border-radius: 10px;
								background-color: #f5f5f5;
							}

							&::-webkit-scrollbar-thumb {
								border-radius: 10px;
								background-color: #d3d3d3;
							}

							&::-webkit-scrollbar-thumb:hover {
								background: #d3d3d3;
							}
							table {
								width: 1382px !important;
								thead {
									tr {
										:first-child {
											position: sticky;
											left: 0;
											z-index: 99;
										}
										:nth-child(2) {
											overflow-x: auto;
											z-index: 9;
										}
										th {
											font-family: "Inter", sans-serif;
											font-weight: 600;
											font-size: 10px;
											background-color: $table-hover-background;
											text-transform: uppercase;
											color: $grey;
											box-shadow: none !important;
											height: 36px !important;
											border-bottom: 0px solid transparent !important;
										}
									}
								}
								tbody {
									tr {
										height: 36px !important;
										background: $white !important;

										td {
											box-shadow: none !important;
											border: thin solid $divider-bg !important;
											height: 60px !important;
											padding: 0px !important;
											text-align: center;

											&:first-child {
												padding-left: 8px;
												position: sticky !important;
												left: 0 !important;
												z-index: 99;
												background: $divider-bg;
												.v-input {
													.v-input__control {
														background: $divider-bg;
														fieldset {
															background: $divider-bg;
														}
													}
												}
											}
											.v-select--is-menu-active {
												background-color: $table-hover-background;
											}
											.v-text-field input {
												padding: 8px 8px;
											}
											.amount {
												word-break: break-all;
												padding-right: 8px;
												justify-content: end;
											}
											.action-wrapper {
												display: flex;
												justify-content: center;
												height: 44px;
												align-items: center;
											}

											.carton,
											.unit {
												border-radius: 0px !important;
												.v-text-field__details {
													display: none !important;
												}
												.v-input__control {
													width: 56px !important;
													display: block !important;
													margin-bottom: 0px !important;
													.v-input__slot {
														display: block !important;
														margin-bottom: 0px !important;
														width: 100% !important;
														padding-right: 0px !important;
														fieldset {
															top: -5px !important;
															width: 100% !important;
															border-radius: 4px !important;
															border: 0px solid transparent !important;
														}
														.v-text-field__slot {
															height: auto !important;
															input {
																width: 100%;
																font-size: 12px;
																font-weight: 400;
																max-height: none;
																font-family: $fontFamilyRegular;
																color: $default-text-color;
																text-align: right !important;
															}
														}
													}
												}
											}

											.sku-id {
												.v-input__control {
													.v-input__slot {
														.v-text-field__slot {
															input {
																text-align: left !important;
															}
														}
													}
												}
											}

											.product-error-message {
												font-size: 12px;
											}
										}


										& > td {
											height: 36px !important;
										}


										&.item-row {
											td {
												&:nth-child(2) {
													padding-left: 0 !important;
													position: relative;

													.action-image {
														display: flex;
														position: absolute;
														right: 0;
														top: -32px;
														z-index: 99;
														.v-btn {
															width: 32px;
															background: #0171a1;
															min-width: 32px;
															height: 32px;
															box-shadow: none;
															border-radius: 0;
														}
													}
													.text-description {
														position: absolute;
														top: 0;
														width: 100%;
													}
													textarea {
														width: 100%;
														resize: none;
														background: #ffffff;
														outline: none !important;
														border: 1px solid #0171a1 !important;
														box-shadow: 0 0 8px 0 #ffffff;
													}
												}
											}

											&.item-row-add {
												.v-input--is-disabled {
													.v-input__control {
														.v-input__slot {
															fieldset {
																background-color: $divider-bg !important;
															}
														}
													}
												}

												td {
													&:nth-last-child(2),
													&:nth-last-child(3),
													&:nth-last-child(4),
													&:nth-last-child(5),
													&:nth-last-child(8),
													&:nth-last-child(9)
												 {
														background-color: $divider-bg !important;
													}
												}
											}
										}

										&.item-row-special {
											td {
												border: 0px solid transparent !important;
												background: none;
											}
										}
									}
								}
								.carton-wrapper-error {
									& > div {
										& > div {
											& > div.v-input__slot {
												& > div {
													& > input[type="number"] {
														color: $dark-red !important;
													}
												}
											}
										}
									}
								}
							}
						}
					}

					.order-total-wrapper {
						margin-top: 16px;
						margin-bottom: 12px;
						justify-content: space-between;
						.order-total-item {
							display: flex;
							align-items: center;
							gap: 12px;
							p,
							span {
								font-family: "Inter";
								font-weight: 400;
								font-size: 14px;
								color: $default-text-color;
								margin-bottom: 0;
								line-height: 20px;
							}
							&.info-message {
								width: 25%;
								gap: 8px !important;
							}
						}
					}
				}

				fieldset {
					top: -5px !important;
					width: 100% !important;
				}
				.v-select__slot {
					width: 100% !important;
				}
				.v-input__slot {
					width: 100% !important;
				}
			}
		}

		.containers-section {
			margin-top: 24px;
			.content-title {
				padding-bottom: 8px;
			}
			.container-wrapper {
				margin-top: 0px;
				thead {
					th {
						padding: 8px 12px !important;
						font-family: "Inter", sans-serif;
						font-weight: 600;
						height: 36px !important;
						font-size: 10px;
						box-shadow: none !important;
						background-color: $table-hover-background;
						text-transform: uppercase;
						color: $grey;
					}
				}
				tbody {
					tr {
						/*
						&:hover {
							background-color: $divider-bg !important;
						}*/
						&:hover {
							//background-color: $white !important;
						}
					}
					td {
						text-align: center;
						box-shadow: none !important;
						border-bottom: thin solid $divider-bg !important;
						padding: 0px 12px 0px 12px !important;
						.v-select--is-menu-active {
							background-color: $table-hover-background;
						}

						.v-input__control {
							background-color: $white !important;

							.v-text-field__slot {
								padding: 0px;
								height: 35px;
								font-size: 12px;
								font-weight: 400;
								font-family: $fontFamilyRegular;
								color: $default-text-color;

								input {
									font-family: "Inter", sans-serif;
									font-weight: 400;
									font-size: 14px;
									line-height: 20px;
									color: $default-text-color;
								}
							}
						}
						fieldset {
							top: -5px !important;
							background-color: $white;
							/*height: 40px !important;*/
							height: auto !important;
							min-height: 0px !important;
							max-height: none !important;
							border: 0px solid transparent !important;
						}

						.text-fields {
							/*
							padding-top: 8px;
							padding-bottom: 8px;*/
							margin-bottom: 0px !important;
							height: 40px !important;
						}
						.v-select--is-menu-active {
							background-color: $table-hover-background !important;
						}
						height: 36px !important;
						min-height: 0px !important;
						max-height: none;
						/*
                        padding-top: 8px;
                        padding-bottom: 8px;
                            */
					}

					tr {
						&:hover {
							.v-input__control {
								//background-color: $divider-bg !important;
								background-color: $white !important;
							}
							.v-input__slot {
								//background-color: $divider-bg !important;
								background-color: $white !important;
							}
						}
					}
				}
			}

			fieldset {
				top: -5px !important;
				width: 100px !important;
			}

			.v-select__slot {
				width: 100px !important;
			}

			.v-input__slot {
				padding-left: 0px !important;
				padding-right: 0px !important;
				height: 40px !important;
				min-height: 0px !important;
				max-height: none !important;
				//width: 100px !important;
				width: 100% !important;
			}

			.container-cartons {
				.v-input__control {
					padding-top: 0px !important;
				}
				.v-select__slot {
					width: 240px !important;
				}
				input {
					text-align: right !important;
				}
			}
			.container-num {
				.v-input__control {
					.v-input__slot {
						width: 240px !important;
						height: 40px !important;
						min-height: 0px !important;
						max-height: none !important;
						.v-text-field__slot {
							height: 36px !important;
							min-height: 0px !important;
							max-height: none !important;
							input {
								height: 40px !important;
								width: 240px !important;
							}
						}
						fieldset {
							top: -5px !important;
							min-height: 0px !important;
							max-height: none !important;
							height: 40px !important;
							width: 240px !important;
							border: 1px solid $light-grey;
						}
					}
				}
				.v-select__slot {
					width: 240px !important;
				}
			}
			.add-container-wrapper {
				padding-left: 16px;
				button {
					margin-top: 16px !important;
				}
			}
		}

		.cargo-details-section {
			margin-top: 32px;
			.cargo-details {
				margin: 16px 0 16px 0;
				gap: 16px;
				.text-field-wrapper {
					width: 100% !important;
					fieldset {
						background-color: $divider-bg;
						border: 0px solid transparent;
					}
				}
			}

			&.enable-cargo-details-section {
				.cargo-details {
					.v-input {
						.v-input__control {
							.v-input__slot {
								fieldset {
									background-color: $white;
								}
							}
							.v-text-field__details {
								margin-bottom: 0;
								.v-messages__wrapper {
									padding: 0 0 0 5px;
								}
							}
						}
					}
				}
			}

			.commodity-other-info-wrapper,
			.marks-info-wrapper {
				fieldset {
					border: 1px solid $light-grey !important;
					background-color: $white !important;
				}
			}
		}

		#cargo-details-volume-weight {
			fieldset {
				width: 100% !important;
			}
		}

		.import-and-consignnee {
			width: 100% !important;
		}
	}
	.v-card__title {
		#headline-custom-wrapper {
			span {
				font-family: $fontFamilyRegular;
				font-weight: 600 !important;
				font-size: 20px !important;

				&.headline-custom {
					color: $default-text-color;
					//border-right: 2px solid $grey !important;
					padding-right: 8px;
				}

				&.headline-custom-track {
					padding-left: 8px;
					color: $table-header-text-color;
					font-size: 16px !important;
				}

				&.booking {
					color: $default-text-color;
					padding-left: 0px !important;
				}
			}
		}
	}
	.sidebar-item-main-wrapper {
		padding-top: 16px;
		.sidebar-items-wrapper {
			display: flex;
			height: 44px;
			/*margin-bottom: 16px;*/
			&.selected {
				&::before {
					content: "";
					position: absolute;
					height: 44px;
					width: 4px;
					background-color: $light-blue;
				}
			}
			.sidebar-item {
				padding-right: 34px;
				/* padding-bottom: 16px !important;*/
				padding-left: 24px;
				& > div:last-child {
					font-family: $fontFamilyRegular;
					font-weight: 500;
					font-size: 14px;
					color: $default-text-color;
				}

				&.selected {
					& > div:last-child {
						font-size: 16px;
						font-weight: 600;
						color: $dark-blue;
					}
				}
			}
		}
	}

	.edit-shipment-dialog-main-content {
		padding-left: 24px;
		.content-title {
			font-family: $fontFamilyRegular;
			font-weight: 600;
			font-size: 20px;
			color: $default-text-color;
		}
		form {
			margin-top: 16px;
			.form-wrapper {
				width: 50%;
				.v-input {
					width: 80%;
				}
				.consignee-name-wrapper{
					width: 100%;
					.v-input__control{
						background: #EBF2F5 !important;
					}
				}
				.radio-group-wrapper {
					margin-bottom: 16px;
					max-height: 40px;
					padding-bottom: 0px;
					.radio-item {
						cursor: pointer !important;
						padding: 8px 12px;
						border: 1px solid $light-grey;
						border-radius: 4px;
						height: 40px !important;

						label {
							&::before {
								display: none;
								content: "";
								background-color: $white;
								height: 14px;
								width: 14px;
								border: 1px solid $dark-blue;
								border-radius: 14px;
							}
							&.radio-label-wrapper {
								position: relative;
								padding-left: 20px;

								span {
									position: absolute;
									top: 3px;
									left: 0px;
									height: 16px;
									width: 16px;
									background-color: $white;
									border-radius: 50%;
									content: "";
									border: 1px solid $dark-blue;
									display: block;
									cursor: pointer;

									&::after {
										position: absolute;
										top: 4px;
										left: 27%;
										width: 7px;
										height: 7px;
										border-radius: 14px;
										background: $white;
										content: "";
										display: block;
									}

									&.checkbox-selected {
										background-color: $dark-blue !important;
									}
								}
							}

							font-family: $fontFamilyRegular;
							font-weight: 400;
							font-size: 14px;
							color: $default-text-color;
						}

						input {
							margin-right: 8px;

							&.custom-radio {
								&:checked ~ span {
									background-color: $dark-blue !important;
								}
							}
						}
						.v-input--radio-group {
							.v-input__control {
								margin-top: 0px;
								background-color: transparent;
							}
							margin-top: 12px !important;
						}

						& > div {
							&:nth-child(3) {
								margin-right: 8px !important;
								font-family: $fontFamilyRegular;
								font-weight: 400;
								font-size: 14px;
								color: $default-text-color;
							}
						}

						&.selected {
							border: 1px solid $dark-blue;
						}
						margin-right: 8px;
					}

					//incoterms other styles
					#payment-term-wrapper {
						.payment-dropdown-button-menu {
							left: 0px !important;
							top: 35px !important;
							width: 110px;
							max-width: none;
						}
					}

					&.radio-group-wrapper-incoterms {
						.radio-item:nth-child(7) {
							margin-top: 8px;
						}
						#incoterm-error-wrapper-id {
							.v-input {
								&.error--text {
									width: 100%;
								}
							}
						}
					}
				}
				.text-field-wrapper {
					display: flex;
					width: 93%;
					.v-select__selection {
						margin-top: 0px !important;
					}
					min-height: 0px !important;
					max-height: none !important;

					.v-select--is-menu-active {
						background-color: $table-hover-background !important;
					}
				}
				.v-input__control {
					height: auto;
					background-color: transparent !important;
					flex-direction: row;
					.v-input__slot {
						min-height: 40px !important;
						max-height: none;
						//height: 40px !important;
						//height: 38px;
						margin-bottom: 0px;
						fieldset {
							top: -5px !important;
							width: 100% !important;
							//height: 40px !important;
							min-height: 0px !important;
							max-height: none !important;
							border: 1px solid $light-grey;
							border-radius: 4px;

							&.mobile {
							}
						}
						.v-text-field__slot {
							//height: 40px;
							input {
								padding: 0px;
								line-height: 18px;
								font-size: 12px;
								font-weight: 400;
								//height: 40px;
								max-height: none;
								font-family: $fontFamilyRegular;
								color: $default-text-color;
							}
						}
						.v-input__append-inner {
							height: 75%;
							padding-right: 0px;
						}
					}

					.v-messages__wrapper {
					}
					.v-text-field__details {
						/*display: block !important; */
					}
				}

				.dates-wrapper {
					min-height: 40px !important;
					.text-fields {
						margin-bottom: 16px !important;
					}

					.v-input__append-inner {
						height: 100% !important;
					}
					.v-input__control {
						.v-input__slot {
							min-height: 0px !important;
							height: 40px !important;
						}

						.v-text-field__details {
							margin-top: 6px;
						}
					}

					.mdi-calendar {
						&::before {
							content: "";
							display: inline-flex;
							background-image: url("/assets/icons/calendar.svg") !important;
							background-size: 18px 18px;
							height: 18px;
							width: 18px;
						}
					}
				}
				.form-label {
					line-height: 12px;
					/*height: 18.8px !important;*/
					height: auto !important;
					margin-bottom: 6px;
					& > span {
						font-family: $fontFamilyRegular;
						font-weight: 400;
						font-size: 10px;
						color: $table-header-text-color;
						&:first-child {
							font-weight: 600;
						}
					}
				}
			}
		}

		&.add-shipment-tracking {
			form {
				margin-top: 0px !important;
			}
		}
	}

	/* textarea styles */
	#textarea_info {
		display: flex;
		width: 93%;
		padding-bottom: 7px;

		.v-input__control {
			.v-input__slot {
				padding-left: 0px !important;
				height: auto !important;
				fieldset {
					top: -5px !important;
					height: auto !important;
				}
			}
		}

		textarea {
			resize: none !important;
			overflow: hidden !important;
			padding-left: 12px;
			padding-right: 16px;
		}
		.v-text-field__slot {
			height: auto !important;
		}

		.v-text-field__details {
			display: flex !important;
		}
	}
}

/* purchase order dropdown options style */
.select-purchase-order {
	width: 100% !important;
	height: 36px;
	margin-right: 16px !important;

	&.select-purchase-order-mobile {
		width: 227px !important;
	}
	.v-input__control {
		height: 36px;
		padding-top: 0px !important;
		& > .v-input__slot {
			height: 36px;
			& > {
				fieldset {
					top: -5px !important;
					border: 1px solid $light-grey !important;
					height: 36px;
					background-color: $white;
				}
				.v-select__slot {
					height: 36px;
					& > input[type="text"] {
						height: 36px;
						font-size: 14px;
						margin-top: 0px;
						font-weight: 600;
						font-family: $fontFamilyRegular;
						color: $default-text-color;
					}

					::-webkit-input-placeholder {
						color: #b4cfe0;
					}
				}
			}
		}
	}

	.v-select--is-menu-active {
		background-color: transparent !important;
	}

	&.select-product {
		.v-input__control {
			height: 36px !important;
			& > .v-input__slot {
				height: 36px !important;
				max-height: none;
				min-height: 0px;
				padding: 0 4px !important;
				& > {
					fieldset {
						height: 36px !important;
						top: -5px !important;
						border: 0px solid transparent !important;
					}

					.v-select__slot {
						.v-input__append-inner {
							.v-input__icon--clear {
								button {
									color: $dark-red;
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}

		&.error {
			fieldset {
				top: -5px !important;
				border: 1px solid $dark-red !important;
			}
		}

		.v-icon {
			&.mdi-menu-down {
				&::before {
					content: "" !important;
				}
				&::after {
					content: "" !important;
					display: inline-flex !important;
					background-image: url("/assets/icons/chevron-down.svg") !important;
					background-size: 18px 18px !important;
					background-repeat: no-repeat;
					height: 18px !important;
					width: 18px !important;
					top: -10px;
					left: -10px;
					opacity: 1;
					background-color: transparent !important;
					cursor: pointer !important;
				}
			}
		}
	}

	&.error {
		border: 1px solid red;
	}
}

@include autoCompleteStyles();

/* add purchase order style*/
.add-purchase-order-wrapper {
	margin-top: 0px !important;
}

/* add product style */
.add-product-purchase-order-wrapper {
	padding-left: 16px;
	.add-product-purchase-orders {
		cursor: pointer;
		padding: 8px 12px;
		border: 1px solid $light-grey;
		border-radius: 4px;
		margin-right: 8px;
	}

	a {
		border: 0px solid transparent !important;
		span {
			color: $dark-blue;
			font-family: "Inter", sans-serif;
			font-weight: 500;
			font-size: 14px;
		}
	}
}

.add-product-item {
	padding-left: 0px !important;
}
.purchase-orders-table {
	.v-data-table__wrapper {
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		&::-webkit-scrollbar-thumb {
			background: #d3d3d3;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #d3d3d3;
		}
		.product-add-all-wrapper {
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			input[type="checkbox"] {
				&:checked ~ span {
					background-color: $dark-blue !important;
				}
			}
			//s
			label {
				display: flex;
				height: 20px;
				width: 20px;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				span {
					padding-left: 27px;
				}
			}
			//e
		}

		table {
			width: 100% !important;
			/*
            tbody {
                tr {
                    td {
                        .v-input--is-disabled {
                            .v-input__control {
                                .v-input__slot {
                                    fieldset {
                                        background-color: $white !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }*/
		}
	}
}

/*  product item select style */
.product-item-wrapper {
	width: 100%;

	button {
		color: #614e4e;
		font-size: 20px;
	}

	.product-category-sku {
		font-family: "Inter", sans-serif;
		font-weight: 500;
		font-size: 14px;
		color: $black;
	}

	.product-unit-price {
		color: #6d858f !important;
		font-family: "Inter", sans-serif;
		font-size: 14px;
		font-weight: 500;
	}
	.product-image {
		object-fit: cover;
		width: 60px;
		height: 60px;
	}
}

.v-tooltip__content {
	&.carton-tooltip {
		background-color: $dark-blue !important;
		span {
			font-family: "Inter", sans-serif;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			color: $white !important;
		}
		margin-left: 70px;
		margin-top: -3px;

		&::after {
			content: "";
			width: 10px;
			right: -4px;
			top: 37%;
			height: 10px;
			background-color: $dark-blue;
			transform: rotate(45deg);
			border: 0px solid transparent;
			display: block;
			position: absolute;
		}

		&.tooltip-has-error {
			display: block !important;
			background-color: $dark-red !important;
			&::after {
				background-color: $dark-red;
			}
		}
	}
}

.section-mobile {
	.add-product-purchase-order-wrapper {
		padding-left: 0px !important;

		&.add-product-wrapper {
			&.button-add {
				border-bottom: 1px solid #d8e7f0 !important;
				padding: 4px 0;
			}

			span {
				font-family: "Inter", sans-serif;
				font-weight: 500;
				font-size: 14px;
				color: $dark-blue;
			}
		}
	}

	.content-title-container {
		margin-top: 16px;
	}

	.item {
		/*border: 1px solid $light-grey; */
		.select-purchase-order-wrapper {
			position: relative;
			display: flex;
			.v-input {
				&.select-purchase-order {
					margin-left: 16px;
					margin-top: -16px;
					.v-input__control {
						.v-input__slot {
							fieldset {
								top: -5px !important;
							}
							.v-select__slot {
								.v-input__append-inner {
									height: 89%;
								}
							}
						}
					}
				}
			}
			.delete-btn-wrapper-mobile {
				margin-top: -16px !important;
				button {
					margin-right: 0px !important;
					height: 35px !important;
				}
			}
		}
	}

	.table-mobile {
		.v-data-table__wrapper {
			table {
				tbody {
					tr {
						&.v-data-table__mobile-table-row {
							width: 100%;

							.v-data-table__mobile-row {
								width: 100%;
								padding-left: 0px !important;
								padding-right: 0px !important;
								border-bottom: 1px solid #d8e7f0 !important;

								.v-data-table__mobile-row__cell {
									width: 100%;

									.mobile-items-wrapper {
										display: flex;
										flex-direction: column;
										margin-top: 16px;
										padding-bottom: 16px;

										.product-label {
											font-family: "Inter", sans-serif;
											font-weight: 500;
											font-size: 14px;
											color: $table-header-text-color !important;

											&.product-title {
												color: $default-text-color !important;
											}
										}

										.carton-mobile {
											.v-text-field__details {
												display: none;
											}
										}

										.error-input {
											.v-input__control {
												.v-input__slot {
													fieldset {
														border: 1px solid #f93131 !important;
													}
												}
											}
										}

										.v-input__control {
											height: unset !important;

											.v-input__slot {
												height: unset !important;
												min-height: 40px !important;
												padding: 0 8px !important;
												margin-bottom: 0;

												.v-select__slot {
													height: unset !important;

													input[type="text"] {
														height: unset !important;
													}
												}

												fieldset {
													top: -5px !important;
													height: unset !important;
													border: 1px solid $light-grey !important;
												}
											}
										}

										.select-purchase-order {
											width: 100% !important;
											height: unset !important;
										}

										.carton-mobile {
											justify-content: right;
										}
										.unit-mobile {
											justify-content: center;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.product-label {
		font-family: "Inter", sans-serif;
		font-weight: 500;
		font-size: 12px !important;
		padding-right: 8px;
		color: $grey !important;

		&.product-title {
			font-size: 14px !important;
		}
	}

	.product-total {
		div {
			font-family: "Inter", sans-serif;
			font-weight: 500;
			font-size: 14px;
			color: $default-text-color !important;
		}
	}

	.v-messages__message {
		display: none !important;
	}

	.purchase-order-item-mobile {
		margin-top: 30px;
		border: 1px solid #b4cfe0;
		position: relative;
		min-height: 180px;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 16px;
		border-radius: 4px !important;
		padding-left: 12px;
		padding-right: 12px;
		// margin-bottom: 30px;

		.select-purchase-order-wrapper {
			position: absolute;
			top: -18px;

			.select-purchase-order {
				height: unset !important;
				margin-right: 8px !important;

				&.select-purchase-order-mobile {
					width: 227px !important;
				}

				.v-input__control {
					height: unset !important;

					& > .v-input__slot {
						height: unset !important;
						min-height: 40px;

						& > {
							fieldset {
								height: unset !important;
							}

							.v-select__slot {
								height: unset !important;

								& > input[type="text"] {
									height: unset !important;
									font-weight: unset !important;
									font-family: $fontFamilyRegular;
									color: $default-text-color;
								}
							}
						}
					}
				}
			}

			.delete-btn-wrapper-mobile {
				button {
					&.btn-white {
						min-width: 30px !important;
						padding: 10px !important;

						.v-btn__content {
							svg {
								width: 18px;
								height: 18px;
							}
						}
					}
				}
			}
		}

		.select-all-wrapper {
			position: relative;
			margin-top: -10px;

			label {
				font-size: 14px;
				color: #4a4a4a;
			}
		}
	}

	.checkbox-wrapper {
		.label-wrapper-check {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			svg {
				margin-left: 0 !important;
				margin-right: 12px;
			}
		}
	}

	i {
		&.mdi-checkbox-blank-outline {
			width: 26px !important;
			padding: 3px !important;

			&::before {
				content: "" !important;
				background-image: url("/checkbox-empty-icon-1.svg") !important;
				background-position: center !important;
				background-repeat: no-repeat !important;
				background-size: cover !important;
				width: 16px !important;
				height: 16px !important;
			}
		}

		&.mdi-minus-box {
			width: 26px !important;
			padding: 3px !important;

			&::before {
				content: "" !important;
				background-image: url("/checkbox-minus-filled-1.svg") !important;
				background-position: center !important;
				background-repeat: no-repeat !important;
				background-size: cover;
				width: 16px !important;
				height: 16px !important;
			}
		}

		&.mdi-checkbox-marked {
			width: 26px !important;
			padding: 3px !important;

			&::before {
				content: "" !important;
				background-image: url("/checkbox-filled-icon-1.svg") !important;
				background-position: center !important;
				background-repeat: no-repeat !important;
				background-size: cover !important;
				width: 16px !important;
				height: 16px !important;
			}
		}
	}

	.select-items-general {
		margin-right: 8px;
		border-radius: 4px;

		.v-select__slot {
			height: 40px !important;
			min-height: 0px !important;
			max-height: none !important;
			font-size: 12px !important;

			.v-input__append-inner {
				height: 40px;
			}

			.v-select__selections {
				//height: 33px;
				height: 40px !important;
				align-content: center;

				.v-select__selection {
					width: 225px !important;
				}
			}
		}

		.v-input__slot {
			font-size: 12px !important;
		}

		fieldset {
			top: -5px !important;
			height: unset !important;
			background-color: $white !important;
		}
	}

	.purchase-order-table-wrapper-mobile {
		margin-top: 30px;
		border: 1px solid #b4cfe0;
		position: relative;
		min-height: 180px;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 16px;
		border-radius: 4px !important;
		padding-left: 14px;
		padding-right: 14px;

		.product-title {
			color: #4a4a4a;
		}

		.item-label-common-style {
			color: #6d858f;
			font-family: "Inter-Medium", sans-serif;
		}

		.select-purchase-order-wrapper {
			position: absolute;
			top: -18px;

			.select-purchase-order {
				height: unset !important;
				margin-right: 8px !important;

				&.select-purchase-order-mobile {
					width: 227px !important;
				}

				.v-input__control {
					height: unset !important;

					& > .v-input__slot {
						height: unset !important;
						min-height: 40px;

						& > {
							fieldset {
								height: unset !important;
							}

							.v-select__slot {
								height: unset !important;

								& > input[type="text"] {
									height: unset !important;
									font-weight: unset !important;
									font-family: $fontFamilyRegular;
									color: $default-text-color;
								}
							}
						}
					}
				}
			}

			.delete-btn-wrapper-mobile {
				button {
					&.btn-white {
						min-width: 30px !important;
						padding: 10px !important;

						.v-btn__content {
							svg {
								width: 18px;
								height: 18px;
							}
						}
					}
				}
			}
		}

		.select-all-wrapper {
			position: relative;
			margin-top: -10px;

			label {
				font-size: 14px;
				color: #4a4a4a;
			}
		}
	}

	.add-orders-wrapper-mobile {
		display: grid !important;
		grid-template-columns: auto auto;
		grid-gap: 12px;
	}

	.cargo-details-title-mobile {
		font-size: 16px;
		color: #4a4a4a;
		margin-bottom: 12px;
	}

	.select-items-wrapper-mobile {
		.v-input {
			.v-input__control {
				.v-input__slot {
					margin-bottom: 3px !important;
				}
			}
		}
	}
}

.consignee-import-name-wrapper {
	&.v-menu__content {
		.v-list {
			.consignee-details {
				.building-image {
					position: absolute;
					padding: 8px;
					border: 1px solid #d8e7f0;
					border-radius: 4px;
				}
				.company-details-wrapper {
					position: relative;
					left: 50px;
					.company-name {
						font-weight: 600;
						color: #4a4a4a;
					}
					.text-list {
						color: #6d858f;
					}
				}
				.import-title {
					font-weight: 600;
					font-size: 14px;
					color: #6d858f;
					border-top: 1px solid #ebf2f5;
					&.company-title {
						border-bottom: 1px solid #ebf2f5;
					}
				}
			}
			.v-list-item {
				color: #ffff;
				.import-name-details {
					.import-name {
						font-family: "Inter";
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 20px;
						color: #4a4a4a;
					}
					.import-name-address {
						font-family: "Inter";
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #6d858f;
					}
				}
			}
		}
	}
}

#booking-shipment-dialog-id {
	.first-column {
		width: 240px;
	}

	.second-column {
		width: 1136px;
	}
	@include textareaStyles();
	#text-area-wrapper-5,
	#text-area-wrapper-3,
	#text-area-wrapper-6,
	#text-area-wrapper-7 {
		margin-bottom: 16px !important;
		.v-textarea {
			.v-input__control {
				.v-input__slot {
					height: 76px !important;
					fieldset {
						width: 100% !important;
						height: auto !important;
					}
					.v-text-field__slot {
						height: auto !important;
						padding-top: 10px !important;
						padding-bottom: 10px !important;
						max-width: 100%;
						textarea {
							width: 100% !important;
							min-height: 0px !important;
							overflow-y: hidden;
							padding: 0px !important;
							margin-top: 0px !important;
						}
					}
				}
			}
		}
	}

	#text-area-wrapper-7 {
		width: 100% !important;
		.text-fields {
			width: 100% !important;
			.v-input__control {
				width: 100% !important;
				.v-input__slot {
					width: 100% !important;
					.v-text-field__slot {
						padding: 10px 16px !important;
						max-width: 100%;
						textarea {
							min-height: 100px !important;
							padding-top: 0px !important;
							padding-bottom: 0px !important;
							width: 100% !important;
						}
					}
					fieldset {
						min-height: 127px !important;
					}
				}
			}
		}
	}
	#text-area-wrapper-6 {
		.v-textarea {
			.v-input__control {
				.v-input__slot {
					fieldset {
						height: auto !important;
						//background-color: $divider-bg !important;
						background-color: transparent !important;
						//border: 0px solid transparent !important;
						border: 1px solid $light-grey !important;
					}
				}
			}
		}
	}
	#text-area-wrapper-3,
	#text-area-wrapper-4 {
		.text-fields {
			.v-input__control {
				.v-input__slot {
					fieldset {
						top: -5px !important;
						background: $white !important;
					}
					textarea {
						padding-right: 12px !important;
						min-height: 0px !important;
						height: 61px !important;
						margin-top: 5px !important;
					}
				}
			}
		}
	}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
