.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: black;
    justify-content: space-between;

    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      color: black;
      background: transparent;
    }
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    flex-direction: column;
    justify-content: flex-end;

    .btn-green {
      color: white;
      background: #4AAE9B;
      border: 1px solid #4AAE9B;
      border-radius: 2px;
    }

    width: 50%;
    height: 195px;
    top: 25%;
    left: 25%;



  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

}

@media screen and (min-width: 100px) {
  .modal-backdrop {
    .modal {
      width: 100%;
    }
  }
}

@media screen and (min-width: 360px) {
  .modal-backdrop {
    .modal {
      width: 50%;
      height: 195px;
      top: 25%;
      left: 25%;
    }
  }
}

@media screen and (min-width: 1024px) {
  
}