@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
$fontFamilyRegular: 'Inter', sans-serif !important;


@mixin fontStyles($weight, $size) {
    font-family: $fontFamilyRegular;
    font-weight: #{$weight};
    font-size: #{$size}px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;


  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: black;
    justify-content: space-between;

    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      color: black;
      background: transparent;
    }
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    flex-direction: column;
    justify-content: flex-end;

    .btn-green {
      color: white;
      background: #4AAE9B;
      border: 1px solid #4AAE9B;
      border-radius: 2px;
    }

    width: 50%;
    height: 195px;
    top: 25%;
    left: 25%;


  }

  .modal-body {
    position: relative;
    padding: 20px 15px;
    height: auto;
    min-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }
        
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
        
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #d3d3d3; 
    }
        
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #d3d3d3; 
    }
  }

}
#global-modal-id {
  .modal {
    height: auto;
    width: 70%;
    max-height: 500px;
    top: 10%;
  }

  .general-info-label {
    @include fontStyles(400, 20);
  }

  .global-main-wrapper {
    position: fixed !important;
    width: 100% !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  .in-slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .notes-customer-wrapper {
    
    background-color: white !important;
    .notes-header-wrapper {
      padding: 15px;
      border-bottom: 1px solid #eeeeee;
    }
    .notes-current-customer-wrapper {
      padding: 15px;
      @include fontStyles(400, 14);
    }

    h3 {
      @include fontStyles(400, 20); 
    }




  }
}

@media screen and (min-width: 100px) {
  .modal-backdrop {
    .modal {
      width: 100%;
    }
  }
}

@media screen and (min-width: 360px) {
  .modal-backdrop {
    .modal {
      width: 50%;
      height: 195px;
      top: 25%;
      left: 17%;
    }
  }
}

@media screen and (min-width: 1024px) {
  
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}