.archived-shipment-header thead tr th {
	font-size: 14px;
	text-transform: capitalize;
	color: #819FB2;
	padding: 8px;
	box-shadow: none !important;
	height: 42px;
}

.archived-shipment-header thead tr th span {
	color: #819FB2;
}