@import '../../colors.scss';
$commonFont: 'Inter', sans-serif;


.shipment-tabs-mobile {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100% !important;
	padding: 10px 16px;

    & > {
    	div:first-child {
    		width: 45%;
    	}

    	div:last-child {
    		display: flex;
    		// width: 30%;
    		justify-content: flex-end;
    		button {
    			margin-right: 0px !important;
    		}
    	}
    }

	.v-select--is-menu-active {
    	background: transparent !important;
	}

	.v-input {
		width: 100%;
		padding-top: 0;
		margin-top: 0;
		.v-input__control {
			width: 100%;
			.v-input__slot {
				width: 100%;
				.v-select__slot {
					width: 100%;
					.v-select__selections {
						width: 100%;
						.v-select__selection {
							width: 100% !important;
							text-overflow: inherit;
							font-family: 'Inter', sans-serif !important;
							font-size: 20px;
							font-weight:  600;
							color: $default-text-color;
							padding-bottom: 6px;
							margin-bottom: 0;
							margin-right: 0;
						}
					}
					.v-input__append-inner {
						margin: 4px 0px 0px 0px !important;
					}
				}
				&::after {
					border: 0px solid transparent;
				}
				&::before {
					border: 0px solid transparent;
				}
			}
		}

		&.tab-selections {
			max-width: 145px;
		}
	}

	#shipment-dropdown-booking-wrapper {
		min-width: unset !important;
	}
}	


.shipment-header-buttons {
	display: flex;
	padding-right: 20px;

	.track-shipment-mobile {
		width: 100% !important;
		span {
			font-family: 'Inter', sans-serif;
			font-size: 14px;
			font-weight: 500;
		}
		
	}

	.shipment-header-button-btn {
		margin-right: 8px !important;
	}

	.shipment-header-button-btn:last-child {
		margin-right: 0px !important;
	}
}

#shipment-dropdown-booking-wrapper {
	.archive-shipment {
		padding: 10px 16px !important;
		height: 40px !important;
		div:first-child {
			justify-content: center;
			align-items: center;
			display: flex;
		}
		div:last-child {
			color: $default-text-color;
			font-family: $commonFont;
			font-weight: 500;
			font-size: 14px;
		}
	}
}