// Nova Tool CSS
.qbo-ellipse-group {
    cursor:  pointer !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    max-width: 100px !important;
    display: block !important;
    width: 100px !important;
}