/** @format */

@import "../../colors.scss";

.v-dialog {
	&.select-cargo-dialog {
		.v-card {
			box-shadow: none;

			.v-card__text {
				padding: 24px !important;

				.po-booking-shipment {
					display: flex;
					align-items: center;
					gap: 8px;
					.v-input {
						&.select-shipment {
							.v-input__control {
								.v-input__slot {
									min-height: 40px;
									width: 40%;
								}
							}
						}
					}
					.po-booking-counter {
						font-size: 16px;
						line-height: 24px;

						.po-count {
							color: #0171a1;
						}
					}
				}

				fieldset {
					border: 1px solid #b4cfe0;
					border-radius: 4px;
					padding-inline-start: 16px;
					legend {
						&.po-num-product {
							display: flex !important;
							align-items: center !important;
							gap: 8px;

							.product-desc {
								.v-input__control {
									.v-input__slot {
										min-height: 36px !important;
										input {
											font-weight: 600;
										}
									}
								}
							}
							.product-checkbox {
								border: 1px solid #b4cfe0;
								border-radius: 4px;
								padding: 5px;

								.v-input__control {
									.v-input__slot {
										label {
											font-weight: 400;
											font-size: 14px;
											line-height: 20px;
											color: #4a4a4a;
										}
									}
								}
							}
							.btn-delete {
								display: flex;
								padding: 9px;
								border: 1px solid #b4cfe0;
								border-radius: 4px;
							}
						}
					}
				}

				.create-wrapper {
					display: flex;
					flex-direction: column;

					.product-info {
						padding: 16px;
						width: auto;

						.v-data-table {
							box-shadow: none !important;

							.v-data-table__wrapper {
								overflow-x: hidden;
								table {
									table-layout: fixed;

									thead {
										background-color: $table-hover-background;

										tr {
											th {
												color: $dark-grey !important;
												text-transform: capitalize;
												border-bottom: 2px solid $divider-bg !important;
												padding: 9px 12px !important;
												font-family: "Inter-Regular", sans-serif !important;
												font-size: 14px;
												height: 40px;
											}
										}
									}

									tbody {
										tr {
											&:hover {
												background-color: $white !important;
											}

											td {
												padding: 0px;
												border: 1px solid #d8e7f0 !important;
												border-top: none !important;

												.h-100 {
													height: 100%;
												}
												.row {
													margin: 0;
													flex-wrap: nowrap;
													.v-input {
														align-items: center;
														&.v-input--selection-controls {
															padding-top: 0;
														}
														&.total-cartons {
															.v-input__slot {
																padding-left: 0;
															}
														}
														&.product-desc {
															.v-input__slot {
																padding: 0;
															}
														}
													}
												}

												.v-input {
													height: 100%;
													min-height: 36px;
													align-items: center;

													.v-input__control {
														justify-content: center;
													}

													&.select-product {
														background-color: $white !important;

														.v-input__control {
															// height: auto;
															height: 100%;

															.v-input__slot {
																margin-bottom: 0;
																min-height: 45px;

																fieldset {
																	min-height: 45px;
																	border: none;
																}

																.v-select__slot {
																	height: auto;

																	.v-input__append-inner {
																		margin-top: 11px;

																		i {
																			color: $dark-blue;
																		}

																		.v-input__icon {
																			&.v-input__icon--clear {
																				button {
																					color: $dark-red;
																					font-size: 20px;
																				}
																			}
																		}
																	}

																	.v-select__selections {
																		font-size: 14px;
																		padding: 4px 0 !important;
																		line-height: 20px;

																		.v-select__selection {
																			&.v-select__selection--comma {
																				margin: 0 4px 0 0;
																			}
																		}

																		input {
																			font-size: 14px;
																			padding: 8px 0 !important;
																			line-height: 20px;

																			&::placeholder {
																				color: $light-grey;
																			}
																		}
																	}
																}
															}

															.v-text-field__details {
																display: none;
															}
														}
													}

													&.select-items {
														.v-input__control {
															height: 100%;

															.v-input__slot {
																min-height: 45px;
																margin-bottom: 0;

																.v-text-field__slot {
																	height: auto;

																	input {
																		font-size: 14px;

																		&::placeholder {
																			color: $light-grey;
																		}
																	}
																	.v-text-field__suffix {
																		font-size: 14px;
																	}
																}

																fieldset {
																	min-height: 45px;
																	border: none !important;
																}
															}

															.v-text-field__details {
																display: none;
															}
														}
													}
													&.text-align {
														.v-input__control {
															.v-input__slot {
																padding-left: 0;
																.v-text-field__slot {
																	input {
																		text-align: right;
																	}
																}
															}
														}
													}

													&.table-text-fields {
														.v-input__control {
															height: 100%;
															// height: auto;

															.v-input__slot {
																min-height: 45px;
																margin-bottom: 0;

																.v-text-field__slot {
																	height: auto;

																	input {
																		font-size: 14px;
																		text-align: right;

																		&::placeholder {
																			color: $light-grey;
																		}
																	}
																	.v-text-field__suffix {
																		font-size: 14px;
																	}
																}

																fieldset {
																	min-height: 45px;
																	border: none !important;
																}
															}

															.v-text-field__details {
																display: none;
															}
														}

														&.amount {
															.v-input__control {
																.v-input__slot {
																	padding: 0;

																	fieldset {
																		border: none !important;
																		color: $default-text-color;
																		background: #f5f9fc;
																	}
																	.v-text-field__slot {
																		padding: 12px 8px;
																	}
																}
															}
														}
													}

													&.v-input--is-disabled {
														background-color: #ebf2f5 !important;

														.v-input__control {
															.v-input__slot {
																fieldset {
																	border-radius: 0;
																}
															}
														}
													}

													.v-text-field__details {
														display: block;
													}
												}

												.item-actions {
													display: flex;
													justify-content: space-evenly;
													min-height: 45px;

													.button-wrappers {
														display: grid;
														grid-template-columns: auto auto auto;

														&.border-right-add {
															border-right: 1px solid #d8e7f0 !important;
														}
													}

													button {
														display: flex;
														justify-content: center;
														align-items: center;
														height: 45px !important;
														min-width: 1px;

														&::before {
															display: none;
														}
													}
												}

												.border-top-add {
													border-top: 1px solid #d8e7f0 !important;
												}

												&:nth-child(1n + 1) {
													border-right: none !important;
												}

												&:last-child {
													border-right: 1px solid #d8e7f0 !important;
												}
											}
										}
									}
								}
							}
						}

						.total-product-desc {
							display: flex;
							gap: 12px;
							padding-top: 20px;
							.total p {
								margin-bottom: 0;
								line-height: 20px;
								color: #4a4a4a;
								span {
									font-weight: 600;
								}
							}
						}
					}
				}
			}

			.v-card__actions {
				&.cargo-button-actions {
					// .booking-request,
					// .add-shipment {
					// 	display: flex;
					// }
					button {
						margin-right: 8px;

						&.cancel {
							color: #4a4a4a !important;
						}
					}
				}
			}
		}
	}
}
.v-menu__content {
	.v-list {
		&.v-select-list {
			.v-list-item.v-list-item--link {
				.v-list-item__content {
					.v-list-item__title {
						font-size: 14px;
					}
				}
			}
		}
	}

	&.shipment-lists-items {
		width: 300px !important;

		.v-list {
			padding: 0;

			.v-list-item {
				border-bottom: 1px solid $light-white;

				.option-items {
					padding: 12px 0;
					.shipment-info {
						.shipment-no {
							margin-bottom: 0;
							font-weight: 500;
							line-height: 20px;
						}
						.mbl-no {
							margin-bottom: 0;
							font-weight: 400;
							line-height: 20px;
						}
						.shipment-date {
							color: #6d858f;
						}
					}
				}

				&:last-child {
					border-bottom: none !important;
				}
			}
		}
	}
}
