
// #categorySelect .vs__selected{
//     //white-space: nowrap !important;
//     display: block !important;
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
//     max-width: 84% !important
// }
// #customerSelect .vs__selected{
//     //white-space: nowrap !important;
//     display: block !important;
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
//     max-width: 84% !important
// }
.customer-searchbox .vs__dropdown-toggle{
    padding: 0px 0px 2px !important;
    border-color: #bacad6 !important;
    border-radius: 0px !important;
}

#serviceSelect .vs__dropdown-toggle{
    padding: 0px 0px 2px !important;
    border-color: #bacad6 !important;
    border-radius: 0px !important;
}
