
// #categorySelect .vs__selected{
//     //white-space: nowrap !important;
//     display: block !important;
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
//     max-width: 84% !important
// }
// #customerSelect .vs__selected{
//     //white-space: nowrap !important;
//     display: block !important;
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
//     max-width: 84% !important
// }
#categorySelect .vs__dropdown-toggle{
    padding: 0px 0px 2px !important;
    border-color: #bacad6 !important;
    border-radius: 0px !important;
}
#customerSelect .vs__dropdown-toggle{
    padding: 0px 0px 2px !important;
    border-color: #bacad6 !important;
    border-radius: 0px !important;
}
.vendorSelect .vs__dropdown-toggle{
    padding: 0px 0px 2px !important;
    border-color: #bacad6 !important;
    border-radius: 0px !important;
}
.termSelect .vs__dropdown-toggle{
    padding: 0px 0px 2px !important;
    border-color: #bacad6 !important;
    border-radius: 0px !important;
}
