@import '../../../colors.scss';

.create-outbound-dialog {
    .v-card {
        .v-card__title {
            border-bottom: 1px solid $divider-bg !important;
        }

        .v-card__text {
            padding: 0;
    
            &.create-outbound-info-wrapper {
                .create-outbound-info {
                    display: flex;
    
                    .create-outbound-first-column {
                        width: 32%;
                        background-color: #F7F7F7;
                        min-height: 376px;
                        padding: 16px 24px;
    
                        .outbound-order {
                            .custom-wrapper {
                                position: relative;
                                margin-left: 30px;
    
                                img {
                                    position: absolute;
                                    top: 15px;
                                    left: 12px;
                                    z-index: 10;
                                }
    
                                .v-input {
                                    .v-input__control {
                                        .v-input__slot {
                                            background-color: $white !important;
                                        }

                                        .v-text-field__details {
                                            margin-top: 5px;
                                        }
                                    }
                                }
    
                                &.editing {
                                    margin: 0;
    
                                    img {
                                        top: 14px;
                                        // filter: opacity(0.3) drop-shadow(0 0 0 rgb(199, 199, 199));
                                    }
                                }
                            }
    
                            .v-input {
                                margin-top: 0 !important;
    
                                .v-input__control {
                                    background-color: transparent !important;
    
                                    .v-input__slot {
                                        input {
                                            padding-left: 25px;
                                        }
                                        
                                        .v-radio {
                                            label {
                                                font-size: 14px;
                                                color: $default-text-color;
                                                font-family: "Inter-Regular", sans-serif;
                                            }
                                        }
                                    }
                                }                            
    
                                &.v-input--is-disabled {
                                    .v-input__control {
                                        .v-input__slot {
                                            background-color: #EBF2F5 !important;
            
                                            fieldset {
                                                border: 1px solid #BBD4E3;
                                                background-color: #EBF2F5 !important;
                                            }
    
                                            input {
                                                color: #B4CFE0 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }                        

                        .outbound-date-and-time-wrapper {
                            display: flex;
                            width: 100%;

                            .outbound-eta,
                            .outbound-time {
                                flex: 1;
                            }

                            .outbound-eta {
                                margin-right: 8px;

                                .v-input {
                                    .v-input__control {
                                        .v-input__append-inner {
                                            i {
                                                color: #002F44;
                                                font-size: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
        
                    .create-outbound-second-column {
                        width: 68%;
                        padding: 16px 24px;
    
                        h3 {
                            font-size: 16px;
                            color: #4A4A4A;
                            padding-top: 10px;
                            padding-bottom: 5px;
                        }
    
                        .outbound-inner-tab {
                            border: none;
    
                            .v-tabs-slider {
                                display: none;
                            }
    
                            .v-item-group {
                                height: 40px;
    
                                .v-tab {
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    font-family: "Inter-Medium", sans-serif !important;
                                    padding: 6px 13px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-top: 1px solid #B3CFE0;
                                    border-bottom: 1px solid #B3CFE0;
                                    border-left: 1px solid #B3CFE0;
                                    color: #4a4a4a;
                                    text-transform: capitalize;
    
                                    &.v-tab--active {
                                        color: $dark-blue;
                                        background-color: #EBF2F5;
                                    }
    
                                    &:nth-child(2) {
                                        border-radius: 4px 0 0 4px;
                                    }
    
                                    &.outbound-inner-tab-last {
                                        border-right: 1px solid #B4CFE0;
                                        border-radius: 0 4px 4px 0;
                                        margin-right: 24px;
                                    }
                                }
                            }
                        }
                        .outbound-tables {
                            .add-products-outbound-table {
                                box-shadow: none !important;
                                border-radius: 0;
    
                                .v-data-table__wrapper {
                                    table {
                                        thead {
                                            background-color: #F7F7F7;
    
                                            tr {
                                                th {
                                                    border: none;
                                                    color: #6D858F;
                                                    font-size: 12px;
                                                    // padding: 10px 8px 10px 16px;
                                                    padding: 8px 12px;
                                                    text-transform: uppercase;
                                                    white-space: nowrap;
                                                }
                                            }
                                        }
    
                                        tbody {
                                            tr {
                                                &:hover {
                                                    background-color: transparent;
                                                }
    
                                                &.v-data-table__expanded__content {
                                                    box-shadow: none;
    
                                                    td {
                                                        padding: 0;
                                                    }
                                                }
    
                                                td {
                                                    // padding: 10px 8px 10px 16px;
                                                    padding: 8px 8px 8px 0;
                                                    // border-bottom: 1px solid #EBF2F5;
                                                    border-bottom: none !important;
    
                                                    p {
                                                        margin: 0;
                                                    }
    
                                                    .storable-label {
                                                        color: #0171A1;
                                                    }
    
                                                    .remove-btn {
                                                        color: $red;
                                                    }
    
                                                    .expanded-item-info {
                                                        background-color: $white;
                                                        width: 100%;
                    
                                                        .expanded-header-wrapper {
                                                            border-bottom: 1px solid #EBF2F5;
                                                            padding: 8px 20px;
                    
                                                            .expanded-header-content {                                            
                                                                display: flex;
                                                                justify-content: flex-start;
                                                                align-items: center;
                                                                width: 100%;
                    
                                                                .w-80 {
                                                                    width: 80%;
                                                                }
                    
                                                                .w-10 {
                                                                    width: 10%;
                                                                    text-align: right;
                                                                }
                    
                                                                .header-title {
                                                                    font-size: 12px;
                                                                    color: $dark-grey;
                                                                    font-family: 'Inter-Medium', sans-serif;
                                                                }
                                                            }
                                                        }
                    
                                                        .expanded-body-wrapper {
                                                            border-bottom: 1px solid #EBF2F5;
                                                            padding: 8px 20px;
                    
                                                            .expanded-body-content {                                            
                                                                display: flex;
                                                                justify-content: flex-start;
                                                                align-items: center;
                                                                width: 100%;
                                                                padding: 5px 0px;
                    
                                                                .w-80 {
                                                                    width: 80%;
                                                                }
                    
                                                                .w-10 {
                                                                    width: 10%;
                                                                    text-align: right;
                                                                }
                                                            }
                                                        }
                                                    }
    
                                                    .mdi-chevron-down::before {
                                                        color: #0171A1;
                                                    }

                                                    .v-input {
                                                        .v-input__control {
                                                            .v-input__slot {
                                                                min-height: 0;
                                                                height: 45px;
                                                                font-size: 14px;
                                                                margin-bottom: 0;
                                        
                                                                fieldset {                            
                                                                    border: 1px solid #B4CFE0;
                                                                    background-color: #fff !important;
                                                                }
                                        
                                                                input {
                                                                    font-size: 14px;
                                        
                                                                    &::placeholder {
                                                                        color: #B4CFE0;
                                                                    }
                                                                }
                                    
                                                                .v-input__append-inner {
                                                                    i {
                                                                        color: #B4CFE0;
                                                                    }
                                                                }
                                                            }

                                                            .v-text-field__details {
                                                                display: none !important;
                                                            }
                                                        }
                                                        &.v-input--is-disabled {
                                                            .v-input__control {
                                                                .v-input__slot {
                                                                    fieldset {
                                                                        background-color: #EBF2F5 !important;
                                                                        border: 1px solid #EBF2F5 !important;
                                                                    }
                                    
                                                                    input,
                                                                    .v-select__selection {
                                                                        color: #4a4a4a;
                                                                    }
                                                                }
                                    
                                                                .v-input__append-inner {
                                                                    i {
                                                                        color: #B4CFE0 !important;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &.error-count {
                                                            .v-input__control {                                    
                                                                .v-input__slot {                                        
                                                                    fieldset {                            
                                                                        border: 1px solid #fc8686;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &.error-skus-duplication {
                                                        font-size: 12px;
                                                        color: #6D858F;
                                                        height: auto;
                                                        min-width: 10px;
                                                        padding: 0 0 10px 0 !important;
                                                    }
                                                }
                                                
                                            }
                                        }
                                    }
                                }
                            }
    
                            .add-storable-outbound-table {
                                box-shadow: none !important;
    
                                .v-data-table__wrapper {
                                    table {
                                        thead {
                                            background-color: #F7F7F7;
    
                                            tr {
                                                th {
                                                    border: none;
                                                    color: #6D858F;
                                                    font-size: 12px;
                                                    padding: 8px 12px;
                                                    text-transform: uppercase;
                                                    white-space: nowrap;
                                                }
                                            }
                                        }
    
                                        tbody {
                                            tr {
                                                &:hover {
                                                    background-color: transparent;
                                                }
    
                                                &.v-data-table__expanded__content {
                                                    box-shadow: none;
    
                                                    td {
                                                        padding: 0;
                                                    }
                                                }
    
                                                td {
                                                    padding: 8px 12px;
                                                    border-bottom: 1px solid #EBF2F5;
    
                                                    p {
                                                        margin: 0;
                                                    }
    
                                                    .storable-label {
                                                        color: #0171A1;
                                                    }
    
                                                    .remove-btn {
                                                        color: $red;
                                                    }
    
                                                    .expanded-item-info {
                                                        background-color: $white;
                                                        width: 100%;
                    
                                                        .expanded-header-wrapper {
                                                            border-bottom: 1px solid #EBF2F5;
                                                            padding: 8px 20px;
                    
                                                            .expanded-header-content {                                            
                                                                display: flex;
                                                                justify-content: flex-start;
                                                                align-items: center;
                                                                width: 100%;
                    
                                                                .w-80 {
                                                                    width: 80%;
                                                                }
                    
                                                                .w-10 {
                                                                    width: 10%;
                                                                    text-align: right;
                                                                }
                    
                                                                .header-title {
                                                                    font-size: 12px;
                                                                    color: $dark-grey;
                                                                    font-family: 'Inter-Medium', sans-serif;
                                                                }
                                                            }
                                                        }
                    
                                                        .expanded-body-wrapper {
                                                            border-bottom: 1px solid #EBF2F5;
                                                            padding: 8px 20px;
                    
                                                            .expanded-body-content {                                            
                                                                display: flex;
                                                                justify-content: flex-start;
                                                                align-items: center;
                                                                width: 100%;
                                                                padding: 5px 0px;
                    
                                                                .w-80 {
                                                                    width: 80%;
                                                                }
                    
                                                                .w-10 {
                                                                    width: 10%;
                                                                    text-align: right;
                                                                }
                                                            }
                                                        }
                                                    }
    
                                                    .mdi-chevron-down::before {
                                                        color: #0171A1;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
    
                        .add-row-wrapper {
                            padding-top: 10px;
    
                            button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
    
                        .documents-upload-wrapper {
                            #documents_files {
                                display: none;
                            }
    
                            #documents-files-select-box-id {
                                cursor: pointer;
                                border: 2px solid #B4CFE0;
                                border-style: dashed;
                                width: 60%;
                                height: 100px;
                                border-radius: 4px;
                                padding: 20px 24px;
                                text-align: center;
                                font-size: 14px;
                                color: #B4CFE0;
                                background-color: #ffffff;
                                transition: 0.3s background-color;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                            }
    
                            .document-lists {
                                width: 60%;
                                margin-top: 10px;
    
                                .lists-items {
                                    border-bottom: 1px solid #F5F9FC;                                
                                    padding: 10px 16px;
    
                                    .items {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                    }
    
                                    .close {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }
                            }
    
                            .btn-upload {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 8px;
    
                                img {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
        
                    .outbound-title {
                        font-size: 10px;
                        color: #819FB2;
                        font-family: 'Inter-SemiBold', sans-serif;
                        text-transform: uppercase;
                        margin-bottom: 0;
    
                        span {
                            text-transform: capitalize !important;
                        }
                    }
    
                    .time-input {
                        .vc-date {
                            display: none !important;
                        }
                    }
    
                    .datetime-picker-new {
                        width: 100%;
                    }
        
                    .v-input {
                        .v-input__control {
                            background-color: transparent !important;
    
                            .v-input__slot {
                                min-height: 0;
                                height: 45px;
                                font-size: 14px;
                                background-color: #fff;
        
                                fieldset {                            
                                    border: 1px solid #B4CFE0;
                                }
        
                                input,
                                textarea {
                                    font-size: 14px;
        
                                    &::placeholder {
                                        color: #B4CFE0;
                                    }
                                }
    
                                textarea {
                                    margin: 0 !important;
                                    padding-top: 10px;
                                    line-height: 20px;
                                }
    
                                .v-input__append-inner {
                                    i {
                                        color: #B4CFE0;
                                    }
                                }
                            }
    
                            .v-text-field__details {
                                display: block !important;
                                margin-bottom: 0;
                            }

                            .v-input__append-inner {
                                .v-input__icon {
                                    button {
                                        font-size: 18px;
                                        color: $red !important;
                                    }
                                }
                            }
                        }

                        &.input-time {
                            .v-text-field__details {
                                .v-messages__message {
                                    font-size: 10px !important;
                                    color: #819FB2 !important;
                                    font-family: "Inter-Medium", sans-serif !important;
                                }
                            }
                        }
    
                        &.v-input--radio-group {
                            .v-input__control {
                                .v-input__slot {
                                    background-color: transparent !important;
                                }
                            }
                        }
    
                        &.table-text-fields {
                            .v-input__control {
                                .v-input__slot {
                                    margin-bottom: 0;
    
                                    input {
                                        text-align: right;
                                    }
                                }
    
                                .v-text-field__details {
                                    display: none !important;
                                }
                            }
                        }
        
                        &.deliver-address {
                            .v-input__control {    
                                .v-input__slot {                                
                                    height: auto;
                                    
                                    .v-text-field__slot {
                                        textarea {
                                            height: 80px;
                                            font-size: 14px;
                                            line-height: 20px;
                                            padding: 8px 8px 8px 0;
                                            margin: 0 !important;
                                        }
                                    }
                                }
                            }
                        }
        
                        &.outbound-date {
                            .v-input__control {
                                background-color: transparent !important;
        
                                .v-input__slot {
                                    background-color: $white;
        
                                    .v-input__icon {
                                        i {
                                            color: $dark-blue;
                                        }
                                    }
                                }
                            }
                        }
    
                        // if include time checkbox
                        &.custom-select {
                            margin: 0 !important;
    
                            .v-input__control {
                                .v-input__slot {
                                    background-color: transparent !important;
                                    height: 30px;
    
                                    label {
                                        font-size: 10px;
                                        color: #819FB2;
                                        font-family: "Inter-Medium", sans-serif;
                                        text-transform: uppercase;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .v-card__actions {
            &.outbound-button-actions {
                button {
                    margin-right: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            button {
                &.v-btn--disabled {
                    &.btn-blue {                        
                        background-color: #0171A1 !important;
                        color: #ffffff !important;
                    }
    
                    &.btn-white {                        
                        background-color: #fff !important;
                        color: #B4CFE0 !important;
                    }
                }
            }
        }        

        button {
            &.v-btn--disabled {
                &.btn-white {                        
                    background-color: #fff !important;
                    color: #0171A1 !important;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .v-dialog {
        &.create-outbound-dialog {
            margin: 0;
            height: 100%;
            max-height: 100% !important;
            background-color: $white;

            .v-card {
                box-shadow: none !important;

                .v-card__text {
                    &.create-outbound-info-wrapper {
                        .create-outbound-info {
                            flex-direction: column;

                            .create-outbound-first-column,
                            .create-outbound-second-column {
                                width: 100%;
                                padding: 16px;
                            }

                            .create-outbound-second-column {
                                margin-bottom: 20px;
                                
                                .v-tabs {
                                    .v-slide-group__prev {
                                        display: none !important;
                                    }
                                }

                                .v-data-table {
                                    .v-data-table__wrapper {
                                        table {
                                            thead {
                                                display: none;
                                            }
                                            tbody {
                                                tr {
                                                    display: grid;

                                                    td {
                                                        padding-right: 0;
                                                        border-bottom: none !important;
                                                        height: auto !important;

                                                        &.shipping-unit-mobile {
                                                            margin-right: 8px !important;
                                                        }

                                                        &.unit-qty-col-wrapper {
                                                            .unit-qty-wrapper {
                                                                display: flex;
                                                                flex: 1;
                                                            }
                                                        }

                                                        .product-mobile-wrapper {
                                                            .product-mobile-header-product {
                                                                display: flex;
                                                                justify-content: space-between;
                                                                align-items: center;
                                                            }

                                                            p {
                                                                font-size: 10px;
                                                                color: #819FB2;
                                                                font-family: "Inter-SemiBold", sans-serif;
                                                                text-transform: uppercase;
                                                                margin-bottom: 3px;
                                                            }

                                                            .v-input {
                                                                .v-input__control {
                                                                    .v-select__selection--comma {
                                                                        width: 100% !important;
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        .remove-btn {
                                                            height: 28px;
                                                            width: 28px;

                                                            i {
                                                                font-size: 20px;
                                                                width: 20px;
                                                                height: 20px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            // tbody {
                                            //     tr {
                                            //         td {
                                            //             padding-right: 0;
                                            //             border-bottom: none;

                                            //             .v-data-table__mobile-row__header {
                                            //                 color: #6D858F;
                                            //                 font-size: 12px;
                                            //                 font-family: 'Inter-SemiBold', sans-serif;
                                            //                 font-weight: unset;
                                            //             }

                                            //             &:first-child,
                                            //             &:nth-child(2) {
                                            //                 display: flex;
                                            //                 flex-direction: column;
                                            //                 align-items: flex-start;
                                            //                 width: 100%;

                                            //                 .v-data-table__mobile-row__header {
                                            //                     margin-bottom: 5px;
                                            //                     display: none;
                                            //                 }

                                            //                 .v-data-table__mobile-row__cell {
                                            //                     width: 100%;

                                            //                     .product-mobile-wrapper {
                                            //                         .product-mobile-header {
                                            //                             display: flex;
                                            //                             justify-content: space-between;
                                            //                             align-items: center;
                                            //                             margin: 0 0 5px;

                                            //                             p {
                                            //                                 margin-bottom: 0;
                                            //                                 color: #6D858F;
                                            //                                 text-transform: uppercase;
                                            //                                 font-size: 12px;
                                            //                                 font-family: 'Inter-SemiBold', sans-serif;
                                            //                             }
                                            //                         }
                                            //                     }
                                            //                 }
                                            //             }


                                            //             &:last-child {
                                            //                 border-bottom: 1px solid #EBF2F5 !important;
                                            //             }

                                            //             &:nth-child(1n+3) {
                                            //                 border-bottom: 1px solid #E1ECF0 !important;
                                            //                 padding-bottom: 10px;
                                            //                 margin-bottom: 10px;
                                            //             }
                            
                                            //             &:nth-child(1n+4) {
                                            //                 display: none;
                                            //             }
                                            //             .remove-btn {
                                            //                 height: 30px;

                                            //                 i {
                                            //                     font-size: 20px;
                                            //                 }
                                            //             }
                                            //         }
                                            //     }
                                            // }
                                        }
                                    }
                                }
                              
                                .add-row-wrapper {
                                    button {
                                        width: 100%;
                                    }
                                }
                            }
                              .documents-upload-wrapper {
                                #documents-files-select-box-id {
                                    width: 100%;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}