@import '../../../colors.scss';

.warehouse-table-wrapper {
    .inbound-mobile {
        .overlay {
            &.show {
                position: absolute;
                top: 165px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #ffffff !important;
                z-index: 200;
                cursor: auto;
    
                .preloader {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 15px;
                }
            }
        }
    
        .search-wrapper {
            position: relative;
    
            img {
                position: absolute;
                width: 18px;
                top: 12px;
                left: 12px;
                z-index: 1;
            }
    
            input {
                border: 1px solid #B3CFE0;
                height: 40px;
                width: 100%;
                padding: 8px 12px 8px 38px;
                border-radius: 4px;
                font-size: 14px;
                background-color: #fff;
    
                &:focus {
                    outline: 0;
                }
    
                &::placeholder {
                    color: #B4CFE0 !important;
                }
            }
        }

        .v-data-table {
            &.inbound-table {
                .inventory-search-wrapper {
                    .v-tabs {
                        width: 100%;

                        .v-tab {
                            padding: 6px 8px;
                            min-width: 55px;
                            width: 100%;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
    
                .v-data-table__wrapper {
                    table {
                        tbody {
                            tr {
                                td {
                                    border-bottom: none !important;
                                    padding: 8px 14px 0;
                                    min-height: 35px;

                                    .undershipped {
                                        color: $dark-red !important;
                                        font-size: 12px;
                                        font-family: 'Inter-Medium', sans-serif;
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        background-color: #FFF2F2;
                                        padding: 7px 10px;
                                        border-radius: 99px;
                                        text-transform: capitalize;
                                        margin-bottom: 3px;
                                        min-width: 95px !important;
                                        width: auto !important;
                                    }

                                    .undershipped-status {
                                        color: $dark-red;
                                        font-size: 12px;
                                        font-family: 'Inter-Medium', sans-serif;
                                        margin-top: 5px;
                                        margin-bottom: 0;
                                        background-color: #FFF2F2;
                                        padding: 7px 10px;
                                        border-radius: 99px;
                                        text-transform: capitalize;
                                        margin-bottom: 3px;
                                    }
    
                                    .v-data-table__mobile-row__header {
                                        display: none;
                                    }
    
                                    .v-data-table__mobile-row__cell {
                                        width: 100%;
    
                                        .inventory-inbound-wrapper {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
    
                                            .inventory-inbound-items {
                                                display: flex;
                                                justify-content: flex-start;
                                                align-items: flex-start;
    
                                                p {
                                                    margin-bottom: 0;
                                                    width: 95px;
                                                    text-align: start;
                                                    font-family: 'Inter-Medium', sans-serif;
                                                    color: #6D858F;
                                                }
    
                                                span {
                                                    &.order-id {
                                                        font-family: 'Inter-SemiBold', sans-serif;
                                                        padding-right: 10px;
                                                    }     
                                                    
                                                    &.cancelled {
                                                        background-color: #FFF2F2 !important;
                                                        color: #F93131 !important;
                                                    }

                                                    &.inbound-item-info {
                                                        display: flex;
                                                        justify-content: flex-start;
                                                        align-items: center;

                                                        .name {
                                                            color: #6D858F;
                                                            width: 55px !important;
                                                            margin-bottom: 0;
                                                        }
                                                    }                                                    
                                                }
                                            }
                                        }
                                    }

                                    &:nth-child(1n+3) {
                                        padding-top: 0 !important;
                                        min-height: 30px;
                                    }
    
                                    &:nth-child(1n+5) {
                                        border-bottom: 1px solid #E1ECF0 !important;
                                        padding-bottom: 20px;
                                    }
        
                                    &:nth-child(1n+6) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }            

            &.no-current-pagination {
                .v-data-table__wrapper {
                    height: calc(100vh - 355px) !important;
                }
            }

            &.type-3pl {
                .inbound-search {
                    .v-tabs {
                        .v-slide-group__wrapper {
                            .v-tab {
                                &.Floor {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}