.send-report-wrapper-dialog {
    .v-card.send-report-dialog {
        .v-card__text {
            padding: 24px !important;

            .send-report-content {
                h2.send-report-title {
                    font-size: 20px;
                    color: #4a4a4a;
                }

                p.send-report-sub {
                    color: #4a4a4a;
                    font-size: 14px;
                }

                .error-message {
                    font-family: 'Inter-Regular', sans-serif !important;
                    font-size: 12px !important;
                    color: #ff5252 !important;
                    letter-spacing: 0 !important;
                }

                .vue-tags-input {
                    max-width: 100%;
                    border-radius: 4px !important;

                    .ti-tag {
                        border-radius: 4px !important;
                        font-family: 'Inter-Medium', sans-serif;
                        padding: 3px 8px !important;
                        line-height: 1;
                        height: 30px;
                        background-color: #F7F7F7 !important;
                        border: 1px solid #E1ECF0;
                        color: #6D858F !important;
                        margin: 4px 2px;
                        min-width: 75px;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .ti-new-tag-input {
                        flex: 1 1 auto;
                        line-height: 20px;
                        padding: 6px 0 6px;
                        max-width: 100%;
                        min-width: 0px;
                        width: 100%;
                    }
                    
                    .ti-input {
                        border: 1px solid #B4CFE0 !important;
                        border-radius: 4px;
                        min-height: 45px;
                        font-size: 14px;

                        .ti-tags {
                            span {
                                color: #4a4a4a !important;
                                font-size: 12px;
                            }

                            .ti-icon-close {
                                margin-left: 4px;
                                font-size: 16px;
                            }
                        }
                    }                    
                    
                    .ti-new-tag-input::placeholder,
                    .ti-input::placeholder{
                        color: #B4CFE0 !important;
                    }
                    
                    .ti-new-tag-input-error {
                        border: 1px solid #fc8686 !important;
                    }
                    
                    .t-new-tag-input-text-error {
                        color: #ff5252 !important;
                    }
                    
                    .ti-new-tag-input-wrapper {
                        padding: 0 4px;

                        input {
                            font-size: 14px !important;
                        }
                    }

                    &.ti-disabled {
                        background-color: #EBF2F5 !important;
                        
                        .ti-input {                            
                            border: 1px solid #EBF2F5 !important;
                        }

                        .ti-tags {
                            span {
                                color: #B4CFE0 !important;
                            }
                            
                            .ti-icon-close {
                                color: #B4CFE0 !important;
                                cursor: auto;
                            }
                        }
                    }
                }
            }
        }

        .v-card__actions {
            &.send-report-btn-wrapper {
                border-top: none !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .send-report-wrapper-dialog {
        // margin: 0;
        // height: 100%;
        // max-height: 100% !important;
        margin: 12px !important;
        background-color: #fff;
        
        .v-card.send-report-dialog {
            box-shadow: none !important;

            .v-card__text {
                padding: 16px;
                margin-bottom: 6px !important;

                .send-report-content {
                    .text-item-label {
                        font-family: 'Inter-SemiBold', sans-serif !important;
                    }

                    .send-report-types {
                        .v-input {
                            &.v-input--radio-group {
                                margin-top: 0;
                            }

                            .v-input__control {
                                .v-input__slot {
                                    .v-input--radio-group__input {
                                        flex-direction: column;
    
                                        .v-radio {
                                            margin-right: 8px;
                                            padding: 0 0 6px;
                                            border: none !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    .error-message {
                        font-family: 'Inter-Regular', sans-serif !important;
                        font-size: 12px !important;
                        color: #ff5252 !important;
                        letter-spacing: 0 !important;
                    }
    
                    .vue-tags-input {
                        max-width: 100%;
                        border-radius: 4px !important;
    
                        .ti-tag {
                            border-radius: 4px !important;
                            font-family: 'Inter-Medium', sans-serif;
                            padding: 3px 8px !important;
                            line-height: 1;
                            height: 30px;
                            background-color: #F7F7F7 !important;
                            border: 1px solid #E1ECF0;
                            color: #6D858F !important;
                            margin: 4px 2px;
                            min-width: 75px;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                        .ti-new-tag-input {
                            flex: 1 1 auto;
                            line-height: 20px;
                            padding: 6px 0 6px;
                            max-width: 100%;
                            min-width: 0px;
                            width: 100%;
                        }
                        
                        .ti-input {
                            border: 1px solid #B4CFE0 !important;
                            border-radius: 4px;
                            min-height: 48px;
                            font-size: 14px;
    
                            .ti-tags {
                                span {
                                    color: #4a4a4a !important;
                                    font-size: 12px;
                                }
    
                                .ti-icon-close {
                                    margin-left: 4px;
                                    font-size: 16px;
                                }
                            }
                        }                    
                        
                        .ti-new-tag-input::placeholder,
                        .ti-input::placeholder{
                            color: #B4CFE0 !important;
                        }
                        
                        .ti-new-tag-input-error {
                            border: 1px solid #fc8686 !important;
                        }
                        
                        .t-new-tag-input-text-error {
                            color: #ff5252 !important;
                        }
                        
                        .ti-new-tag-input-wrapper {
                            padding: 0 4px;
    
                            input {
                                font-size: 14px !important;
                            }
                        }
    
                        &.ti-disabled {
                            background-color: #EBF2F5 !important;
                            
                            .ti-input {                            
                                border: 1px solid #EBF2F5 !important;
                            }
    
                            .ti-tags {
                                span {
                                    color: #B4CFE0 !important;
                                }
                                
                                .ti-icon-close {
                                    color: #B4CFE0 !important;
                                    cursor: auto;
                                }
                            }
                        }
                    }
                }
            }

            .v-card__actions {
                position: unset !important;
            }
        }
    }
}