@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


$fontFamilyRegular: 'Inter', sans-serif !important;

@mixin fontStyles($weight, $size) {
    font-family: $fontFamilyRegular;
    font-weight: #{$weight};
    font-size: #{$size}px;
}


#button-interaction-wrapper,
#button-interaction-wrapper-2,
#button-interaction-wrapper-3,
#button-interaction-wrapper-4,
#button-interaction-wrapper-5 {
	button {
		border-radius: 4px !important;
		border: 0 solid var(--black) !important;
		background-color: var(--primary) !important;
		color: var(--white) !important;
		line-height: 2.25rem !important;
		text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px !important;
		box-sizing: inherit !important;
		@include fontStyles(400, 14);
	}
}

#button-interaction-wrapper-2 {
	button {
		background-color: red !important;
	}
}