@import '@/assets/scss/colors.scss';

.outbound-tabs {
    position: relative;

    .btn-headerMenus {
        position: absolute;
        z-index: 9;
        right: 22px;
        top: 12px;
        .btn-white {
            font-weight: 600;
            font-size: 13px;
            padding: 9px 14px !important;
        }
    }
    
    .outbound-view-document {
        .v-data-table__wrapper {
            tbody {
                p {
                    display: flex;
                    grid-gap: 6px;
                }
                .btn-download {
                    margin: 5px 10px 0 0;
                }
            }
        }
    }
}